.board_view {
  width: 100%;
  border: 1px solid #ff8800;
  // border-bottom: 1px solid #ff8800;
  background-color: white;
  border-radius: 20px;
  .writer {
    // 위부터 시계방향
    padding: 50px 60px 0px;
    a {
      width: 280px;
    }
    .writer_img {
      width: 18%;
      border-radius: 70%;
      margin-right: 20px;
    }
    .writer_profile {
      width: auto;
    }
  }
  .info {
    padding: 40px 80px;
    margin: 0;
    margin-bottom: 0;
    .title {
      font-size: 1.5rem;
      font-weight: bold;
    }
    p {
      padding-right: 5px;
      color: rgb(195, 195, 195);
      font-size: 0.9rem;
      font-weight: lighter;
      text-align: end;
      margin-bottom: 3px;
    }
  }
  .cont {
    padding: 20px 80px 60px;
    line-height: 160%;
    font-size: 1.0rem;
  }
  .board_img {
    object-fit: cover;
    height: 480px;
  }
}

// 말풍선 모양
// https://projects.verou.me/bubbly/
.speech-bubble {
	position: relative;
	color: #ff8800;
	border-radius: .4em;
  &:hover {
    color: #fff;
    background-color: #04188a;
  }
  &::after {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 32px solid transparent;
    border-right-color: #ff8800;
    border-left: 0;
    border-bottom: 0;
    margin-top: -16px;
    margin-left: -32px;
  }
}

.like_btn {
  background-image : url('../static/images/likes.png');
  background-repeat : no-repeat;
  background-size : 50px;
}
