.board_view {
  width: 100%;
  border: 1px solid #b7b7b7;
  background-color: white;
  border-radius: 20px;
  .writer {
    // 위부터 시계방향
    padding: 50px 60px 0px;
    a {
      width: 305px;
    }
    .writer_img {
      width: 18%;
      border-radius: 70%;
      margin-right: 20px;
    }
    .writer_profile {
      width: auto;
    }
  }
  .info {
    padding: 40px 80px;
    margin: 0;
    margin-bottom: 0;
    .title {
      font-size: 1.5rem;
      font-weight: bold;
    }
    p {
      padding-right: 5px;
      color: rgb(195, 195, 195);
      font-size: 0.9rem;
      font-weight: lighter;
      text-align: end;
      margin-bottom: 3px;
    }
  }
  .cont {
    padding: 20px 80px 60px;
    line-height: 160%;
    font-size: 1.0rem;
  }
  .board_img {
    object-fit: cover;
    height: 480px;
  }
}

// 말풍선 모양
// https://projects.verou.me/bubbly/
/* 로그인 안했을때 댓글창 가면 있는 로그인이 필요합니다.. */
.speech-bubble {
	position: relative;
	color: #ff8800;
	border-radius: .4em;
  &:hover {
    color: #fff;
    background-color: #04188a;
    &::after {
      border-right-color: #04188a;
    }
  }
  &::after {
    position: absolute;
    left: 0;
    top: 50%;
    width: 0;
    height: 0;
    border: 32px solid transparent;
    border-left: 0;
    border-bottom: 0;
    margin-top: -16px;
    margin-left: -32px;
  }
}

// 댓글 달기 접기
details {
  color: #a4a4a4;
}

// 댓글 목록
.comment_box {
  border: 1px solid #a4a4a4;
  background-color: #fff;
  padding: 10px;
  border-radius: 20px;
  height: auto;
  .comment_writer {
    padding: 10px;
    a {
      .writer_img {
        width: 40px;
        height: 40px;
        border-radius: 70%;
      }
    }
  }
}