.board_view {
  width: 100%;
  border-top: 2px solid #000;
  background-color: white;
  .title {
    padding: 20px 15px;
    border-bottom: 1px dashed #ddd;
    font-size: 2rem;
  }
  .info {
    padding: 15px;
    border-bottom: 1px solid #999;
    font-size: 0;
    dl {
      position: relative;
      display: inline-block;
      padding: 0 20px;
      dt,
      dd {
        display: inline-block;
        font-size: 1.4rem;
      }
      dd {
        margin-left: 10px;
        color: #777;
      }
      &:first-child {
        padding-left: 0;
        &::before{
          display: none;
        }
      }
      &::before {
        content: "";
        position: absolute;
        top: 1px;
        left: 0;
        display: block;
        width: 1px;
        height: 13px;
        background: #ddd;
      }
    }
  }
  .cont {
    padding: 15px;
    border-bottom: 1px solid #000;
    line-height: 160%;
    font-size: 1.0rem;
  }
  .board_img {
    object-fit: cover;
    height: 480px;
    margin: 30px auto;
  }
}
