main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    flex-direction: column;

    .community,
    .find,
    .graph,
    .algo {
        background-color: #e9e9e9;
        box-sizing: border-box;
        border: 1px solid #D9D9D9;
        width: 70%;
        text-align: center;
        margin-bottom: 30px;
        border-radius: 10px;

        h1 {
            margin: 30px 0;
        }
    }
}

@media screen and (max-width:1250px) {
    .algoboxs {
        margin-bottom: 0 !important;
        display: flex;
        /* justify-content: space-around; */
        flex-direction: column;
        /* align-content: center; */
        align-items: center;

        .algobox-frame {
            display: flex;
            flex-direction: column;
            align-items: center;

            margin-bottom: 30px;
            width: 100%;

            .algobox {
                width: 100% !important;
                text-align: center;


            }
        }
    }

    .community {
        img {
            width: 100%;
        }

        .com-text {
            margin: 30px 50px !important;
        }
    }

    .lay {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;
        flex-direction: column;

        .p-text {
            margin-top: 20px;
            width: 100% !important;

            p {
                text-align: center !important;
            }

            .btn-holder {
                margin-right: 20px;
            }
        }
    }

    .servey {
        width: 95% !important;

    }
}

@media screen and (max-width:800px) {
    main {
        padding: 0 !important;
    }

    .community,
    .algo,
    .graph,
    .find {
        width: 100% !important;
    }

    .graph .servey {
        margin: 0 !important;

        font {
            width: 20% !important;
        }

        .limitbox {
            width: 75% !important;
        }
    }

    #back-to-top {
        bottom: 1em !important;

    }
}

@media screen and (max-width:905px) {
    .algo {
        h2 {
            span {

                width: 30% !important;
            }
        }

        .rank {
            .info {
                width: 60% !important;
            }
        }
    }
}


.community {

    .com-text {
        margin: 15px 150px;
        text-align: start;

        div:nth-child(2) {
            display: flex;
            justify-content: end;
        }
    }

    a {
        text-align: end;
    }

    .community-btn-frame {
        margin-top: 10px;
    }
}

.algo {
    h1 {
        margin: 30px 0 50px 0 !important;
    }

    h2 {
        margin-bottom: 40px;
        display: flex;
        justify-content: center;

        hr {
            width: 35%;
            border-top: 5px solid;
        }

        span {
            width: 20%;
        }
    }


    .rank {
        .rankinfo_frame:first-child {
            .info {
                .prof {
                    position: relative;

                    .crown {
                        margin: 0;
                        position: absolute;
                        background: url('../images/crown.png');
                        background-repeat: no-repeat;
                        top: -86%;
                        right: -12px;
                        transform: rotate(15deg);
                        z-index: 1030;
                        width: 47px;
                        height: 40px;
                    }

                }
            }

        }

        margin-bottom: 50px;



        .rankinfo_frame {


            margin-top: 20px;

            .info {
                width: 40%;
                display: flex;
                align-items: center;
                margin: auto;



                .fcnt {
                    width: 20%;
                    font-size: 28px;
                }



                .set {
                    margin-left: 20px;
                    width: auto;
                }
            }
        }

        img {
            border-radius: 50%;
        }

    }

    .algoboxs {
        display: flex;
        justify-content: space-around;



        .algobox {
            margin-bottom: 10px;
            // border: 1px solid #000;
            box-sizing: border-box;
            width: 100%;
            height: 400px;

            #algo-recom {
                input {
                    display: none;
                }

                label {
                    margin: 20px 10px 0 10px;
                    padding: 5px 10px;
                    cursor: pointer;
                    color: #fff;
                    border-radius: 8px;

                    &:nth-child(2) {
                        background-color: #A85300;

                        &:hover {
                            background-color: #884400;
                        }
                    }

                    &:nth-child(4) {
                        background-color: #415C76;

                        &:hover {
                            background-color: #364d62;
                        }
                    }

                    &:nth-child(6) {
                        background-color: #E59500;

                        &:hover {
                            background-color: #bd7c03;
                        }
                    }

                    &:nth-child(8) {
                        background-color: #27E2A4;

                        &:hover {
                            background-color: #22b584;
                        }
                    }

                    &:nth-child(10) {
                        background-color: #00AEF4;

                        &:hover {
                            background-color: #008dc4;
                        }
                    }

                    &:nth-child(12) {
                        background-color: #FF0867;

                        &:hover {
                            background-color: #c00c51;
                        }
                    }
                }
            }



            .recom {
                margin-top: 30px;
            }
        }
    }

}

.graph {
    .servey {
        width: 80%;
        margin: auto;

        font {
            margin-right: 10px;
            text-align: end;
            width: 10%;
        }

        .graph-btn-frame {
            display: flex;
            justify-content: flex-end;
            margin-bottom: 20px;

            .btnAll {

                &:first-child {
                    margin-right: 10px;
                }
            }
        }
    }
}


.find {
    .lay {
        display: flex;
        justify-content: space-around;
        margin-bottom: 30px;

        .p-img {
            img {

                width: 100%;
            }
        }

        .p-text {
            width: 40%;

            p {

                text-align: start;
            }

            .btn-holder {
                justify-content: flex-end;
                display: flex;
            }
        }
    }

}

.progress_wap {
    display: flex;
    width: auto;
    margin: 20px 0;
    border-radius: 5px;
    height: 26px;
    /* border: 1px solid #3498db; */
    /* box-sizing: border-box; */
}

.limitbox {
    width: 85%;
    display: flex;
    position: relative;
}

.bar_frame {
    width: 0;
    background: linear-gradient(135deg, rgba(248, 168, 20, 0.704) 2%, rgba(249, 216, 140, 0.641) 98%);
    border-radius: 5px;
    height: 26px;

}

.bar {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 0;
    background: linear-gradient(135deg, #f8aa14 2%, #f9d98c 98%);
    border-radius: 5px;
    height: 23px;
}


#back-to-top {
    position: fixed;
    bottom: 3em;
    right: 3em;
    background-color: #FF8E00;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 1em;
    text-transform: uppercase;
    cursor: pointer;
    font-weight: 700;
    box-shadow: 0 0 2em 0 rgba(0, 0, 0, .25);
    transition: all .3s ease-in-out;
    display: inline-block;
    opacity: 0;
    text-decoration: none;
    font-size: .75em;
}

#back-to-top:hover {
    background-color: #ff7b00;
    padding: 1em 3em;
}

#back-to-top.visible {
    opacity: 1;
}

.btnAll {
    background-color: #FF8E00;
    color: #fff;
    border-radius: 5px;
    padding: 8px;
}

.btnAll:hover {
    background-color: #ff7b00;
    color: white;

}