// 댓글에서 쓰던 버튼 가지고 온것!
// detail 신청인원 스터디 인원
.bbtn_stu {
  display: inline-block;
  padding: 10px;
  border: 1px solid #a4a4a4;
  border-radius: 10px;
  font-size: 0.9rem;
  background: #fff;
  color: #a4a4a4;
  transition: all 0.4s;
  border-radius: 10px;
  &:hover {
    background-color: #a4a4a4;
    color: white;
  }
}

.modal-profile-img {
  border-radius: 70%; 
  max-width: 50px;
}

.study_mainimg {
  margin-top: 50px;
  margin-bottom: 20px; 
  max-width: 900px; 
  max-height: 700px;
  width: 100%;
}
