{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load mathfilters %}
{% load filter %} <!-- 마크다운 -->
{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static 'css/board_detail.css' %}" type="text/css">
{% endblock link %}

{% block content %} 
<h1> 디테일 화면 </h1>  

{% autoescape off %}
  {% for key, val in boj_id.items %}
    {% if val == True%}
      <h1> {{ key }} : O </h1>
    {% else %}
      <h1> {{ key }} : X </h1>
    {% endif%}
   <hr>
  {% endfor %}
{% endautoescape %}



{% endblock content %}

{% block script %}
  <script>
    //댓글 비동기 생성
    function create_comment(form, article_pk) { //form:html form태그
      console.log(form)
      const csrftoken = document
        .querySelector('[name=csrfmiddlewaretoken]')
        .value
        axios({
          method: 'post',
          url: `/articles/${article_pk}/comments_create/`,
          headers: {
            'X-CSRFToken': csrftoken
          },
          data: new FormData(form) //form:html form태그
        })
        .then(response => {
          const pk = response.data.pk
          const comment_content = response.data.content
          const userName = response.data.userName
          const userPk = response.data.userPk
          const commentUserImage = response.data.commentUserImage

          const commentbox = document.querySelector('#box')
          commentbox.insertAdjacentHTML('beforeend', `
            <div id="article-${pk}">  
              <div class='comment_box position-relative my-3 mx-5'> 
                <div class='d-flex comment_writer'> 
                  <a href="/accounts/${userPk}/">       
                    <img class='writer_img' src="${commentUserImage}">
                  </a>
                  <a href="/accounts/${userPk}/">       
                    <div class='mx-3'>${userName}</div>
                  </a>
                </div> 
                <p class='bubble-comment m-3'>${comment_content}</p>
                <!-- 댓글 작성한 당사자만 삭제할 수 있게 -->
                <form method="POST" id="comment_delete-${pk}" onsubmit="event.preventDefault(); delete_comment(this, '${article_pk}', '${pk}')">
                  <input type="submit" class="btn-close position-absolute top-0 end-0 m-3" style="color:transparent;">
                </form>
              </div>  
            </div>

        `)
          form.reset() //form:html form태그
        })
        .catch(error => {
          console.log(error)
        })
      }

    //댓글 비동기 삭제
    function delete_comment(form, article_pk, comment_pk) {
      const csrftoken = document
        .querySelector('[name=csrfmiddlewaretoken]')
        .value

        axios({
          method: 'post',
          url: `/articles/${article_pk}/comments_create/${comment_pk}/delete/`,
          headers: {
            'X-CSRFToken': csrftoken
          }
        })
        .then(response => {
          const comment = document.querySelector(`#article-${comment_pk}`)
          console.log(response.data.is_deleted)
          comment.remove()
        })
    }

    // 좋아요
    const form = document.querySelector('.like-forms')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const articleId = event.target.dataset.articleId
          console.log(form)
        axios({
          method: 'post',
          url: `/articles/${articleId}/likes/`,
          headers: {'X-CSRFToken': csrftoken },
        })
          .then((response) => {
            const isLiked = response.data.is_liked
            const likeBtn = document.querySelector(`#like-${articleId}`)
            const likeCount = document.querySelector(`#like-count-${articleId}`)
            const heart = document.querySelector(`#heart-${articleId}`)

            if (isLiked === true) {
              // likeBtn.value = "좋아요취소❌"
              heart.classList.add('bi-heart-fill')
              heart.classList.remove('bi-heart')
              likeCount.innerText = response.data.likeCount
            } else {
              // likeBtn.value = "좋아요🧡"
              heart.classList.add('bi-heart')
              heart.classList.remove('bi-heart-fill')
              likeCount.innerText = response.data.likeCount
            }
          })
          .catch((error) => {
            console.log(error.response)
          })
        })

        //url 링크 복사
        function clip(){

          var url = '';
          var textarea = document.createElement("textarea");
          document.body.appendChild(textarea);
          url = window.document.location.href;
          textarea.value = url;
          textarea.select();
          document.execCommand("copy");
          document.body.removeChild(textarea);
          alert("URL이 복사되었습니다.")
        }
  </script>
{% endblock script %}
