{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/board_create.css' %}" type="text/css">
  <style>
    .board_write .contact input[type=email] {
      padding: 10px;
      box-sizing: border-box;
    }
  </style>
{% endblock link %}

{% block content %}
  <div class='container py-5'>
    {% if request.resolver_match.url_name == 'create' %}
      <h1 class='mx-3 mb-4' style="font-family: 'HBIOS-SYS';">스터디 생성하기</h1>
    {% else %}
      <h1 class='mx-3 mb-4' style="font-family: 'HBIOS-SYS';">스터디 정보 수정하기</h1>
    {% endif %}

    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <!--폼-->
      <div class="board_write">
        <div class="title">
          <dl>
            <dt>스터디 명</dt>
            <dd>{{ study_form.title|attr:"placeholder: 스터디 명을 입력해주세요"}}</dd>
          </dl>
        </div>
        <div class="category">
          <dl class='d-flex align-items-center'>
            <dt>스터디 분류</dt>
            <dd>{{ study_form.category|add_class:'form-select' }}</dd>
          </dl>
        </div>
        <div class="contact">
          <dl class="mb-0">
            <dt>연락처</dt>
            <dd><input type="email" name="contact" placeholder='이메일 주소를 입력해주세요' size="30"></dd>
          </dl>
        </div>
        <div class="limit">
          <dl class="mb-0">
            <dt>스터디 인원</dt>
            <dd>{{ study_form.limit|add_class:'form-control' }}</dd>
          </dl>
        </div>
        <div class="image">
          <dl class='d-flex align-items-center'>
            <dt>이미지</dt>
            <dd>{{ study_form.image|add_class:'form-control' }}</dd>
          </dl>
        </div>
        <div class="content text-break">
          {{ study_form.content|attr:"placeholder: 소개글을 작성해주세요" }}
        </div>
        <br>
      </div>

      <!-- 버튼 -->
      <div class="container text-center bt_wrap">
        <button type="submit" class="px-4 on">등록</button>
        <a class='px-4' href="{% url 'studies:index' %}">목록으로</a>
      </div>
    </form>
  </div>
{% endblock content %}

{% block script %}
<script>
  const imageField = document.querySelector('#id_image')
  imageField.removeAttribute('required')
</script>
{% endblock script %}