{% extends 'base.html' %}

{% block content %}
  <div class='container py-5'>
    <div class='row justify-content-between'>
      {% for study in studies %}
        <div class="card m-3 col-lg-6" style="width: 21rem;">
          <a href="{% url 'studies:detail' study.pk %}">
            <img class="card-img-top" src="{{ study.image.url }}">
            <div class="card-body">
              <div class="d-flex justify-content-between align-items-center mb-3">
                <h5 class="card-title m-0">{{ study.title }}</h5>

                {% if study.is_closed == False %}
                  <span class="badge rounded-pill text-bg-success ms-2" style="font-size: 10px">모집중</span>
                {% else %}
                  <span class="badge rounded-pill text-bg-danger ms-2" style="font-size: 10px">모집 종료</span>
                {% endif %}
              </div>
              <p class="card-text">{{ study.host_user }}</p>
            </div>
          </a>
        </div>
      {% endfor %}
    </div>
    <div class='bt_wrap'>
      <a class="" href="{% url 'studies:create' %}" style=''>스터디 생성하기 📚</a>
    </div>
  </div>
{% endblock content %}