a {
  text-decoration: none;
}

thead {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

/* 탭 */


/* 페이지네이션 */
.board_page {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.board_page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  vertical-align: middle;
  border-left: 0;
  line-height: 100%;
  color: rgb(178, 178, 178);
  
}

.board_page a.bt {
  padding-top: 10px;
  font-size: 0.8rem;
  letter-spacing: -1px;
  color: rgb(178, 178, 178);
}

.board_page a.bt.first:hover {
  color: rgb(30, 225, 255);
}

.board_page a.bt.last:hover {
  color: rgb(30, 225, 255);
}

.board_page a.bt.prev:hover {
  color: rgb(255, 30, 30);
}

.board_page a.bt.next:hover {
  color: rgb(255, 30, 30);
}

.board_page a.num {
  padding-top: 9px;
  font-size: 0.8rem;
}

.board_page a.num.on {
  cursor: default;
  color: #fff;
  border-color: #FF8E00;
  border-radius: 40rem;
  background: #FF8E00;
}


/* 게시판 */
.board_wrap {
  width: 1000px;
  margin: 100px auto;
}

.board_list {
  width: 100%;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 0.9rem;
}

.board_list > div {
  border-top: 1px solid #ddd;
  font-size: 0;
}

.board_list > div.top {
  border-bottom: 1px solid #9b9b9b;
  border-top: 0;
  font-weight: bold;
  color: rgb(175, 175, 175);
  padding-top: 11px;
  padding-bottom: 8px;
}

.board_list > div > div {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-size: 0.9rem;
}

.board_list .category {
  width: 15%;
}

.board_list .category > a {
  color: rgb(12, 155, 69);
}

.board_list .title {
  width: 50%;
  text-align: left;
}

.board_list .top .title {
  text-align: center;
}

.board_list .title > a {
  color: rgb(0, 0, 0);
}

.board_list .writer {
  width: 20%;
}

.board_list .writer > a {
  color: rgb(0, 0, 0);
}

.board_list .date {
  width: 15%;
}

/* 숫자들에 대한 스타일 지정 */
.pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #96a0ad;
  line-height: 1.5; 
}

.first {
  margin-right: 15px;
}

.last { 
  margin-left: 15px;
}

.first:hover, .last:hover, .left:hover, .right:hover {
  color: #2e9cdf;
}

.pagination a.active { 
  cursor: default;
  color: #ffffff;
}

.pagination a:active {
  outline: none;
}

.modal .num {
  margin-left: 3px;
  padding: 0;
  width: 30px;
  height: 30px;
}