@charset "UTF-8";
thead {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

.board_page {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}
.board_page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  vertical-align: middle;
  border-left: 0;
  line-height: 100%;
  color: rgb(178, 178, 178);
}
.board_page a.bt {
  padding-top: 10px;
  font-size: 0.8rem;
  letter-spacing: -1px;
  color: rgb(178, 178, 178);
}
.board_page a.bt.first:hover {
  color: rgb(30, 225, 255);
}
.board_page a.bt.last:hover {
  color: rgb(30, 225, 255);
}
.board_page a.bt.prev:hover {
  color: rgb(255, 30, 30);
}
.board_page a.bt.next:hover {
  color: rgb(255, 30, 30);
}
.board_page a.num {
  padding-top: 9px;
  font-size: 0.8rem;
}
.board_page a.num.on {
  cursor: default;
  color: #fff;
  border-color: #FF8E00;
  border-radius: 40rem;
  background: #FF8E00;
}

/* 게시판 반응형 */
@media (max-width: 576px) {
  .board_list .top .writer,
.board_list .top .date,
.board_list .top .hits {
    display: none;
  }
  .board_list .top .category {
    width: 35%;
  }
  .board_list .top .title {
    width: 65%;
  }
  .board_list .writer,
.board_list .date,
.board_list .hits {
    display: none;
  }
  .board_list .category {
    width: 35%;
  }
  .board_list .title {
    width: 65%;
  }
}
@media (max-width: 768px) {
  .board_list .top .writer,
.board_list .top .hits {
    display: none;
  }
  .board_list .top .category {
    width: 20%;
  }
  .board_list .top .title {
    width: 60%;
  }
  .board_list .top .date {
    width: 20%;
  }
  .board_list .writer,
.board_list .hits {
    display: none;
  }
  .board_list .category {
    width: 20%;
  }
  .board_list .title {
    width: 60%;
  }
  .board_list .date {
    width: 20%;
  }
}
@media (min-width: 769px) {
  .board_list .date {
    width: 13%;
  }
  .board_list .writer {
    width: 21%;
  }
  .board_list .title {
    width: 47%;
  }
  .board_list .category {
    width: 12%;
  }
  .board_list .hits {
    width: 6%;
  }
}
/* 게시판 */
.board_wrap {
  width: 1000px;
  margin: 100px auto;
}

.board_list {
  width: 100%;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 20px;
  font-size: 0.9rem;
}
.board_list > div {
  border-top: 1px solid rgb(182, 182, 182);
  font-size: 0;
}
.board_list > div.top {
  border-top: 0;
  font-weight: bold;
  color: rgb(175, 175, 175);
  padding-top: 11px;
  padding-bottom: 8px;
}
.board_list > div > div {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-size: 0.9rem;
}
.board_list .category > a {
  color: rgb(12, 155, 69);
}
.board_list .title {
  text-align: left;
}
.board_list .title > a {
  color: rgb(0, 0, 0);
}
.board_list .top .title {
  text-align: center;
}
.board_list .writer > a {
  color: rgb(0, 0, 0);
}

.modal .num {
  margin-left: 3px;
  padding: 0;
  width: 30px;
  height: 30px;
}

.article_search input[type=search] {
  background: #fff;
  /* width: 290px; */
  width: auto;
  height: 38px;
  border: 1px solid;
  outline: none;
  padding: 0 25px;
  border-radius: 19px 0 0 19px;
}
.article_search input[type=submit] {
  position: relative;
  left: -1px;
  width: auto;
  height: 38px;
  border: 1px solid;
  border-radius: 0 19px 19px 0;
  padding: 5px 15px;
  cursor: pointer;
  background: rgba(255, 142, 0, 0.7411764706);
}
.article_search input[type=submit]:hover {
  background: #ef8606;
}

/* 말줄임 표 */
.text_elli {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

/* 호버 */
.card a div {
  border-radius: 0.375rem;
  overflow: hidden;
}

.card a img {
  overflow: hidden;
  transition: all 0.2s linear;
}

.card a:hover img {
  transform: scale(1.2);
}

.card-title-text,
.card-user-nickname {
  width: 100%;
  min-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

/* 글 생성 버튼 */
.bt_wrap1 {
  margin: auto;
  text-align: center;
  font-size: 0;
  border-radius: 30rem;
}

.bt_wrap1 a,
.bt_wrap1 button,
.bt_wrap1 input {
  display: inline-block;
  padding: 10px;
  border: 1px solid #FF8E00;
  border-radius: 2px;
  font-size: 0.9rem;
  background: #fff;
  color: #FF8E00;
  transition: all 0.4s;
  border-radius: 10px;
}

.bt_wrap1 a:first-child,
.bt_wrap1 button:first-child {
  margin-left: 0;
}

.bt_wrap1 a:hover,
.bt_wrap1 button:hover {
  background-color: #FF8E00;
  color: white;
}

.bt_wrap1 a {
  margin-left: 15px;
}/*# sourceMappingURL=board.css.map */