a {
  text-decoration: none;
  color: #000000;
}

thead {
  font-weight: bold;
  color: rgb(0, 0, 0);
}

/* 페이지네이션 */
.board_page {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.board_page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid #FF8E00;
  border-left: 0;
  line-height: 100%;
}

.board_page a.bt {
  padding-top: 10px;
  font-size: 0.8rem;
  letter-spacing: -1px;
}

.board_page a.num {
  padding-top: 9px;
  font-size: 0.8rem;
}

.board_page a.num.on {
  cursor: default;
  color: #fff;
  border-color: #FF8E00;
  background: #FF8E00;
}

.board_page a:first-child {
  border-left: 1px solid #FF8E00;
}

.board_page > a {
  color: rgb(0, 0, 0);
}


/* 게시판 */
.board_wrap {
  width: 1000px;
  margin: 100px auto;
}

.board_list {
  width: 100%;
  background-color: #fff;
  border-top: 2px solid #000;
}

.board_list > div {
  border-bottom: 1px solid #ddd;
  font-size: 0;
}

.board_list > div.top {
  border-bottom: 1px solid #999;
}

.board_list > div:last-child {
  border-bottom: 1px solid #000;
}

.board_list > div > div {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-size: 0.9rem;
}

.board_list > div.top > div {
  font-weight: 600;
}

.board_list .category {
  width: 15%;
}

.board_list .category > a {
  color: rgb(12, 155, 69);
}

.board_list .title {
  width: 50%;
  text-align: left;
}

.board_list .top .title {
  text-align: center;
}

.board_list .title > a {
  color: rgb(0, 0, 0);
}

.board_list .writer {
  width: 20%;
}

.board_list .writer > a {
  color: rgb(0, 0, 0);
}

.board_list .date {
  width: 15%;
}


/* 페이지네이션 따라만들기 */
.page {
  /* div 사이즈 영역 안에서의 center */
  text-align: center; 
  width: 50%
}

.pagination { 
  list-style: none;
  display: inline-block;
  padding: 0;
  margin-top: 20px;
}

.pagination li {
  display: inline;
  text-align: center;
}

/* 숫자들에 대한 스타일 지정 */
.pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #96a0ad;
  line-height: 1.5; 
}

.first {
  margin-right: 15px;
}

.last { 
  margin-left: 15px;
}

.first:hover, .last:hover, .left:hover, .right:hover {
  color: #2e9cdf;
}

.pagination a.active { 
  cursor: default;
  color: #ffffff;
}

.pagination a:active {
  outline: none;
}

.modal .num {
  margin-left: 3px;
  padding: 0;
  width: 30px;
  height: 30px;
}