textarea::placeholder {
  font-size: 14px;
}

.comment-bg {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 13px 13px 5px 13px; 
  margin-top: 10px;
}

.comment-bg-secret {
  background-color: #ffd8a8;
  border-radius: 5px;
  padding: 13px 13px 5px 13px; 
  margin-top: 10px;
}

/* 말풍선 */
.speech-bubble {
  position: relative;
  background: #ffffff;
  border-radius: .4em;
  padding: 20px;
  box-shadow: 1px 2px 5px 0 rgb(199 198 198 / 75%);
}

.speech-bubble:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 19px solid transparent;
  border-right-color: #ffffff;
  border-left: 0;
  border-top: 0;
  margin-top: -9.5px;
  margin-left: -13px;
}

.speech-bubble-secret {
  position: relative;
  background: #fff0dd;
  border-radius: .4em;
  padding: 20px;
  box-shadow: 1px 2px 5px 0 rgb(199 198 198 / 75%);
}

.speech-bubble-secret:after {
  content: '';
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  height: 0;
  border: 19px solid transparent;
  border-right-color: #fff0dd;
  border-left: 0;
  border-top: 0;
  margin-top: -9.5px;
  margin-left: -13px;   
}

.guestbook-img {
    border-radius: 70%;
    width: 50px;
}

.comment-img {
    border-radius: 70%; 
    width: 25px;
}

.lock-btn {
  border: 0px;
  background-color: transparent;
}

.article-box {
  width: 100%; 
  border: 1px solid #cbcbcb; 
  border-radius: 8px; 
  background-color: white;
}

.article-text {
  width: 100%; 
  border-radius: 8px; 
}

.lock-box {
  width: 100%; 
  box-sizing: border-box; 
  height: 35px; 
  padding: 5px; 
  font-size: 14px; 
  border-top: 1px solid #e3e3e3;
}
