table {
  background-color: #ffffff;
  border-radius: 15px;
}

table tbody tr:first-child>th:first-child {
  border-top-left-radius:15px;
}
table tbody tr:first-child>th:last-child {
  border-top-right-radius:15px;
}
table tbody tr:last-child>th:first-child {
  border-bottom-left-radius:15px;
}
table tbody tr:last-child>th:last-child {
  border-bottom-right-radius:15px;
}
table tbody tr:last-child>td:first-child {
  border-bottom-left-radius:15px;
}
table tbody tr:last-child>td:last-child {
  border-bottom-right-radius:15px;
}

tbody tr:hover {
  background-color: #fff0dd;
}

table a {
  width: 100%;
  display: table;
}


th {
  white-space: nowrap;
}

.trash-btn {
  border: 0px;
  background-color: transparent;
}

.not_read {
  min-width: 60px;
}


/* detail */

:root {
  --pink: #ecb2ba;
  --pink-dark: #c6939a;
  --tape-gray: #e9e7d7;
  --tape-edge-gray: #d5d2b8;
  --transparent: rgba(255, 255, 255, 0);
}

.note-detail {
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.pink {
  --paper-color: var(--pink);
  --paper-dark: var(--pink-dark);
  --shadow-size: 1px;
  --transparent: rgba(236, 178, 186, 0);
}

.blue {
  --paper-color: #ffffff;
  --paper-dark: #ede4d3;
  --shadow-size: 3px;
  --transparent: rgba(213, 224, 249, 0);
}

.paper {
  position: relative;
  background: linear-gradient(
    var(--transparent),
    50%,
    var(--paper-dark),
    51%,
    var(--transparent)
  ),
  linear-gradient(
    to right,
    var(--transparent),
    50%,
    var(--paper-dark),
    51%,
    var(--transparent)
  ),
  linear-gradient(
    to bottom right,
    var(--paper-dark),
    20%,
    var(--transparent)
  ),
  var(--paper-color);
  width: 70%;
  min-width: 100px;
  max-width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'HBIOS-SYS';
  box-shadow: var(--shadow-size) var(--shadow-size) 5px var(--paper-dark);
  margin: auto;
}

.tape-section {
  position: absolute;
  width: 100%;
}

.top-tape {
  position: absolute;
  height: 4vmin;
  top: -15px;
  width: 30%;
  background-color: var(--tape-gray);
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
  opacity: 0.5;
}

.tape-section:first-of-type {
  top: 0;
}

.tape-section:last-of-type {
  bottom: 0;
}

.tape-section::before,
.tape-section::after {
  content: "";
  width: 10vmin;
  height: 4vmin;
  position: absolute;
  background-color: var(--tape-gray);
  opacity: 0.5;
  border-right: 1px dotted var(--tape-edge-gray);
  border-left: 1px dotted var(--tape-edge-gray);
}

.tape-section:last-of-type::after {
  transform: rotate(-45deg);
  right: -4vmin;
  top: -3vmin;
}

.tape-section:first-of-type::before {
  transform: rotate(-45deg);
  left: -4vmin;
}

.tape-section:first-of-type::after {
  transform: rotate(45deg);
  right: -4vmin;
  top: 0;
}

.tape-section:last-of-type::before {
  transform: rotate(45deg);
  left: -4vmin;
  bottom: 0;
}

.note-font {
  font-family: 'HBIOS-SYS';
  font-size: 20px;
}


/* 페이지네이션 */
.board_page {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.board_page a {
  display: inline-block;
  width: 32px;
  height: 32px;
  box-sizing: border-box;
  vertical-align: middle;
  border-left: 0;
  line-height: 100%;
  color: rgb(178, 178, 178);
  
}

.board_page a.bt {
  padding-top: 10px;
  font-size: 0.8rem;
  letter-spacing: -1px;
  color: rgb(178, 178, 178);
}

.board_page a.bt.first:hover {
  color: rgb(30, 225, 255);
}

.board_page a.bt.last:hover {
  color: rgb(30, 225, 255);
}

.board_page a.bt.prev:hover {
  color: rgb(255, 30, 30);
}

.board_page a.bt.next:hover {
  color: rgb(255, 30, 30);
}

.board_page a.num {
  padding-top: 9px;
  font-size: 0.8rem;
}

.board_page a.num.on {
  cursor: default;
  color: #fff;
  border-color: #FF8E00;
  border-radius: 40rem;
  background: #FF8E00;
}

/* 숫자들에 대한 스타일 지정 */
.pagination a {
  float: left;
  display: block;
  font-size: 14px;
  text-decoration: none;
  padding: 5px 12px;
  color: #96a0ad;
  line-height: 1.5; 
}

.first {
  margin-right: 15px;
}

.last { 
  margin-left: 15px;
}

.first:hover, .last:hover, .left:hover, .right:hover {
  color: #2e9cdf;
}

.pagination a.active { 
  cursor: default;
  color: #ffffff;
}

.pagination a:active {
  outline: none;
}

.modal .num {
  margin-left: 3px;
  padding: 0;
  width: 30px;
  height: 30px;
}

/* 반응형 */
@media (max-width: 575px) {
  .title2 {
    text-overflow : ellipsis;
    max-width : 50px;
    white-space : nowrap;
    overflow : hidden;
    text-align: left;
    padding: 8px 8px 8px 16px;
  }
  .read {
    width: 10%;
  }
  .important {
    width: 10%;
  }
  .restore {
    width: 10%;
  }
  .delete {
    width: 10%;
  }

}

@media (min-width: 576px) {
  .user {
    text-overflow : ellipsis;
    max-width : 80px;
    white-space : nowrap;
    overflow : hidden;
  }
  .title2 {
    text-overflow : ellipsis;
    max-width : 150px;
    white-space : nowrap;
    overflow : hidden;
    text-align: left;
  }
  .date {
    display: 20%;
  }
  .read {
    width: 10%;
  }
  .delete {
    width: 10%;
  }
}


@media (min-width: 768px) {
  .user {
    display: 20%;
  }
  .title2 {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
  }
  .date {
    display: 20%;
  }
  .read {
    width: 10%;
  }
  .delete {
    width: 10%;
  }
}

@media (min-width: 992px) {
  .user {
    display: 20%;
  }
  .title2 {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
  }
  .date {
    display: 20%;
  }
  .read {
    width: 10%;
  }
  .delete {
    width: 10%;
  }
}

@media (min-width: 1200px) {
  .user {
    display: 20%;
  }
  .title2 {
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 300px;
  }
  .date {
    display: 20%;
  }
  .read {
    width: 10%;
  }
  .delete {
    width: 10%;
  }
}
