.profile-img {
  border-radius: 70%;
  max-width: 200px;
  min-width: 80px;
  width: 20%;
}

.modal-profile-img {
  border-radius: 70%; 
  max-width: 50px;
}

table {
  background-color: #fbfbfb;
  border-radius: 15px;
  margin: 10px 0px;
  font-size: 14px;
}

/* 반응형 */
@media (max-width: 575px) {
  .title {
    text-overflow : ellipsis;
    max-width : 50px;
    white-space : nowrap;
    overflow : hidden;
    text-align: left;
    padding: 8px 8px 8px 16px;
  }
  .date {
      width: 30%;
  }
  .views {
      width: 10%;
  }
  .delete {
      width: 10%;
  }
}

@media (min-width: 576px) {
  .title {
    text-overflow : ellipsis;
    max-width : 50px;
    white-space : nowrap;
    overflow : hidden;
    text-align: left;
    padding: 8px 8px 8px 16px;
  }
  .date {
      width: 30%;
  }
  .views {
      width: 10%;
  }
  .delete {
      width: 10%;
  }
}


@media (min-width: 768px) {
  .title {
    text-overflow : ellipsis;
    max-width : 50px;
    white-space : nowrap;
    overflow : hidden;
    text-align: left;
    padding: 8px 8px 8px 16px;
  }
  .date {
      width: 30%;
  }
  .views {
      width: 10%;
  }
  .delete {
      width: 10%;
  }
}

@media (min-width: 992px) {
  .title {
    text-overflow : ellipsis;
    max-width : 50px;
    white-space : nowrap;
    overflow : hidden;
    text-align: left;
    padding: 8px 8px 8px 16px;
  }
  .date {
      width: 30%;
  }
  .views {
      width: 10%;
  }
  .delete {
      width: 10%;
  }
}

@media (min-width: 1200px) {
  .title {
    text-overflow : ellipsis;
    max-width : 50px;
    white-space : nowrap;
    overflow : hidden;
    text-align: left;
    padding: 8px 8px 8px 16px;
  }
  .date {
      width: 30%;
  }
  .views {
      width: 10%;
  }
  .delete {
      width: 10%;
  }
}


/* MBTI badge */

.ISTJ-badge {
    background-color: #bbbaba;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
}

.ISFJ-badge {
    background-color: #fcc668;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
}

.INFJ-badge {
    background-color: #b3d0ff;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
}

.INTJ-badge {
    background-color: #BAB0FF;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
}

.ISTP-badge {
    background-color: #3283a3;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
}

.ISFP-badge {
    background-color: #A6BF6F;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
}

.INFP-badge {
    background-color: #3a9980;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
}

.INTP-badge {
    background-color: #7FC2F4;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
}

.ESTJ-badge {
    background-color: #5c834d;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
}

.ESFJ-badge {
    background-color: #ffc4c4;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
}

.ENFJ-badge {
    background-color: #52CEB0;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
}

.ENTJ-badge {
    background-color: #3462A3;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
}

.ESTP-badge {
    background-color: #FF977B;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
}

.ESFP-badge {
    background-color: #E0707E;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
}

.ENFP-badge {
    background-color: #FFA348;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
}

.ENTP-badge {
    background-color: #dd5843;
    color: white;
    padding: 4px 8px;
    text-align: center;
    border-radius: 6px;
    font-size: 0.75em;
    font-weight: 700;
    letter-spacing: 1px;
}