{% extends 'base.html' %}
{% load static %}

{% block content %}
  <!-- 방명록 글 작성 Form -->
  <form id="gb-article-create-form" onsubmit="event.preventDefault(); create_gb_article(this, '{{ user.pk }}')">
    {% csrf_token %}
    <div class="mb-3">
      <div class="d-flex align-items-center">
        <label class="form-label m-0 me-5" for="id_content">Content</label>
        <textarea name="content" cols="40" rows="1" class="form-control me-2" placeholder="Content" required id="id_content"></textarea>
        <input type="submit" value="방명록 작성" name="gb_article_create">
      </div>
    </div>
  </form>
  <hr>

  <div id="gb-articles-box">
    {% for article in gb_articles %}
      <div id="article-{{ article.pk }}">
        <p>{{ article.user.profile.nickname }} | {{ article.content }} | {{ article.created_at|date:'Y.m.d' }}</p>
        
        <!-- 방명록 글 삭제 Form -->
        {% if request.user == article.user %}
          <form id="gb-article-delete-form-{{ article.pk }}" onsubmit="event.preventDefault(); delete_gb_article(this, '{{ user.pk }}', '{{ article.pk }}')">
            {% csrf_token %}
            <input type="submit" class="btn-close" style="color:transparent;">
          </form>
        {% endif %}
      </div>
    {% endfor %}
  </div>
{% endblock content %}

{% block script %}
  <script type="text/javascript" src="{% static 'js/accounts_gb_article_async.js' %}"></script>
{% endblock script %}