{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/guestbook.css' %}" type="text/css">
{% endblock link %}

{% block content %}
  <div class="container my-5 pb-5 d-flex justify-content-center">
    <div class="col-sm-12 col-lg-6 col-md-8 mx-3">
      <h3 class="text-center mb-5" style="font-family: 'HBIOS-SYS';">{{ user.profile.nickname }}님의 방명록 📜</h3>
      <!-- 방명록 글 작성 Form -->
      <form id="gb-article-create-form" onsubmit="event.preventDefault(); create_gb_article(this, '{{ user.pk }}')">
        {% csrf_token %}
        <div class="mb-3">
          <div class="d-flex align-items-center">
            {% if not request.user.profile.image %}
              <img src="{% static 'images/no-avatar.jpg' %}" class="me-3 guestbook-img" alt="">
            {% elif request.user.profile.image|slugify|slice:'0:4' == 'http' %}
              <img src="{{ request.user.profile.image }}" class="me-3 guestbook-img" alt="">
            {% else %}
              <img src="{{ request.user.profile.image.url }}" class="me-3 guestbook-img" alt="">
            {% endif %}
            <div id="container" class="article-box">
              <textarea name="content" cols="40" rows="3" class="form-control me-2 article-text" style="border: 0px;" placeholder="방명록을 남겨주세요" required id="id_content"></textarea>
              <div class="form lock-box">
                <!-- 방명록 글 비공개 -->
                <button type="button" class="lock-btn" name="is_secret" data-is-secret="false" id="article-secret-btn" onclick="secretArticle(this)">
                  <span id="article-secret-btn-icon" class="bi bi-unlock text-muted"> 비밀글</span>
                </button>
              </div>
            </div>
            
            {% if request.user.is_authenticated %}
              <input type="submit" value="작성" name="gb_article_create" class="btn ms-3 follow-btn-hover color-2">
            {% else %}
              <input type="submit" value="작성" name="gb_article_create" class="btn ms-3 follow-btn-hover color-2" disabled>
            {% endif %}
          </div>
        </div>
      </form>
      <hr>
      
      <!-- 방명록 글 목록 -->
      <div id="gb-articles-box" class="m-0">
        {% for article in gb_articles %}
          <div id="article-{{ article.pk }}" class="mb-3" data-is-secret="{{ article.is_secret }}">
            <div class="d-flex justify-content-between align-items-center">
              <!-- 프로필 사진 2 -->
              {% if not article.user.profile.image %}
                <div class="d-flex flex-column align-items-center">
                  <a href="{% url 'accounts:profile' article.user.pk %}"><img src="{% static 'images/no-avatar.jpg' %}" class="guestbook-img" alt=""></a>
                  <a href="{% url 'accounts:profile' article.user.pk %}"><p class="mt-2 mb-0 nickname">{{ article.user.profile.nickname }}</p></a>
                </div>
              {% elif article.user.profile.image|slugify|slice:'0:4' == 'http' %}
                <div class="d-flex flex-column align-items-center">
                  <a href="{% url 'accounts:profile' article.user.pk %}"><img src="{{ article.user.profile.image }}" class="guestbook-img" alt=""></a>
                  <a href="{% url 'accounts:profile' article.user.pk %}"><p class="mt-2 mb-0 nickname">{{ article.user.profile.nickname }}</p></a>
                </div>
              {% else %}
                <div class="d-flex flex-column align-items-center">
                  <a href="{% url 'accounts:profile' article.user.pk %}"><img src="{{ article.user.profile.image.url }}" class="guestbook-img" alt=""></a>
                  <a href="{% url 'accounts:profile' article.user.pk %}"><p class="mt-2 mb-0 nickname">{{ article.user.profile.nickname }}</p></a>
                </div>
              {% endif %}

              <!-- 방명록 말풍선 -->
              <div class="{% if article.is_secret %}speech-bubble-secret{% else %}speech-bubble{% endif %} w-100 ms-3">
                <!-- 비밀글일 때 -->
                {% if article.is_secret %}
                  <!-- 방명록 주인 & 글 쓴 사람만 글을 볼 수 O -->
                  {% if request.user == user or request.user == article.user %}
                    <!-- 비밀글 - 내용 & 날짜 -->
                    <div class="d-flex justify-content-between align-items-baseline mb-2">
                      <div class="me-3 text-break">
                        <p class="mb-2 text-muted" style="font-size: 13px;">🔒 비밀글</p>
                        <span style="white-space: pre-line">{{ article.content }}</span>
                      </div>
                      <div style="font-size: 12px;">{{ article.created_at|date:'Y.m.d' }}</div>
                    </div>

                    <!-- 비밀글 - 답글 달기 토글 & 방명록 글 삭제 Form -->
                    <div class="d-flex justify-content-between align-items-center" style="font-size: 13px;">
                      <a data-bs-toggle="collapse" href="#collapse-gb-comment-form-{{ article.pk }}" class="text-center">답글 달기</a>
                      
                      {% if request.user == article.user %}
                        <form id="gb-article-delete-form-{{ article.pk }}" onsubmit="event.preventDefault(); delete_gb_article(this, '{{ user.pk }}', '{{ article.pk }}')">
                          {% csrf_token %}
                          <input type="submit" class="btn-close" style="color:transparent;" onclick="return confirm('삭제하시겠습니까?');">
                        </form>
                      {% endif %}
                    </div>
                    
                    <div class="collapse" id="collapse-gb-comment-form-{{ article.pk }}">
                      <!-- 비밀글 - 답글 생성 Form (비밀댓글 기능 X) -->
                      {% if request.user.is_authenticated %}
                        <form onsubmit="event.preventDefault(); create_gb_comment(this, '{{ user.pk }}', '{{ article.pk }}')">
                          {% csrf_token %}
                          <div class="d-flex align-items-center my-2">
                            <textarea name="content" cols="40" rows="1" class="form-control me-2" placeholder="답글을 남겨주세요" required id="id_content"></textarea>
                            <input type="submit" value="작성" name="gb_comment_create" class="btn ms-1 follow-btn-hover color-2">
                          </div>
                        </form>
                      {% endif %}

                      <!-- 비밀글 - 답글 (두 명만 작성 가능) -->
                      <div id="gb-comments-box-{{ article.pk }}" class="{% if article.guestbookcomment_set.all|length != 0 %}{% if article.is_secret %}comment-bg-secret {% else %} comment-bg {% endif %} {% endif %}">
                        {% for comment in gb_comments %}
                          {% if comment.article == article %}
                            <div id="comment-{{ comment.pk }}" class="mb-2">
                              <div class="d-flex flex-column justify-content-between">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                  <div style="font-weight: bold; font-size: 15px;">
                                    <!-- 프로필 사진 3 -->
                                    {% if not comment.user.profile.image %}
                                      <div class="d-flex align-items-center">
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><img src="{% static 'images/no-avatar.jpg' %}" class="comment-img" alt=""></a>
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><p class="ms-2 mb-0">{{ comment.user.profile.nickname }}</p></a>
                                      </div>
                                    {% elif comment.user.profile.image|slugify|slice:'0:4' == 'http' %}
                                      <div class="d-flex align-items-center">
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><img src="{{ comment.user.profile.image }}" class="comment-img" alt=""></a>
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><p class="ms-2 mb-0">{{ comment.user.profile.nickname }}</p></a>
                                      </div>
                                    {% else %}
                                      <div class="d-flex align-items-center">
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><img src="{{ comment.user.profile.image.url }}" class="comment-img" alt=""></a>
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><p class="ms-2 mb-0">{{ comment.user.profile.nickname }}</p></a>
                                      </div>
                                    {% endif %}
                                  </div>
                                  <p class="mb-0" style="font-size: 12px;">{{ comment.created_at|date:'Y.m.d' }}</p>
                                </div>
                              </div>
                              <div class="d-flex justify-content-between">
                                <p class="mb-1 text-break">
                                  <span style="font-size: 13px;">🔒 </span><span style="white-space: pre-line">{{ comment.content }}</span>
                                </p>
                                <div class="d-flex align-items-end">
                                  <!-- 답글 삭제 Form -->
                                  {% if request.user == comment.user %}
                                    <form id="gb-comment-delete-form-{{ comment.pk }}" onsubmit="event.preventDefault(); delete_gb_comment(this, '{{ user.pk }}', '{{ article.pk }}', '{{ comment.pk }}')">
                                      {% csrf_token %}
                                      <input type="submit" class="btn-close" style="color:transparent; font-size: 12px;" onclick="return confirm('삭제하시겠습니까?');">
                                    </form>
                                  {% endif %}
                                </div>
                              </div>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </div>
                    </div>
                  {% else %}
                    <p class="m-0" style="color:#979797">🔒 비밀글입니다.</p>
                  {% endif %}
                <!-- 비밀글이 아닐 때 -->
                {% else %}
                  <!-- 내용 & 날짜 -->
                  <div class="d-flex justify-content-between align-items-baseline mb-2">
                    <div class="me-3 text-break" style="white-space: pre-line">{{ article.content }}</div>
                    <div style="font-size: 12px;">{{ article.created_at|date:'Y.m.d' }}</div>
                  </div>

                  <!-- 답글 달기 토글 & 방명록 글 삭제 Form -->
                  <div class="d-flex justify-content-between align-items-center" style="font-size: 13px;">
                    <a data-bs-toggle="collapse" href="#collapse-gb-comment-form-{{ article.pk }}" class="text-center">답글 달기</a>
                    
                    {% if request.user == article.user %}
                      <form id="gb-article-delete-form-{{ article.pk }}" onsubmit="event.preventDefault(); delete_gb_article(this, '{{ user.pk }}', '{{ article.pk }}')">
                        {% csrf_token %}
                        <input type="submit" class="btn-close" style="color:transparent; font:16px" onclick="return confirm('삭제하시겠습니까?');">
                      </form>
                    {% endif %}
                  </div>
                  
                  <div class="collapse" id="collapse-gb-comment-form-{{ article.pk }}">
                    <!-- 답글 생성 Form -->
                    {% if request.user.is_authenticated %}
                      <form onsubmit="event.preventDefault(); create_gb_comment(this, '{{ user.pk }}', '{{ article.pk }}')">
                        {% csrf_token %}

                        <div class="d-flex align-items-center my-2">
                          <div id="container" class="article-box d-flex align-items-center">
                            <textarea name="content" cols="40" rows="1" class="form-control article-text" style="border: 0px;" placeholder="답글을 남겨주세요" required id="id_content"></textarea>
                            <!-- 방명록 답글 비공개 -->
                            <div class="form cmt-lock-box">
                              <button type="button" class="lock-btn" name="is_secret" data-is-secret="false" data-article-id="{{ article.pk }}" class="comment-secret-btn" id="comment-secret-btn-{{ article.pk }}" onclick="secretComment(this, '{{ article.pk }}')">
                                <span id="comment-secret-btn-icon-{{ article.pk }}" class="bi bi-unlock"></span>
                              </button>
                            </div>
                          </div>
                          <input type="submit" value="작성" name="gb_comment_create" class="btn ms-2 follow-btn-hover color-2">
                        </div>
                      </form>
                    {% endif %}

                    <!-- 답글 -->
                    <div id="gb-comments-box-{{ article.pk }}" class="{% if article.guestbookcomment_set.all|length != 0 %}comment-bg{% endif %}">
                      {% for comment in gb_comments %}
                        {% if comment.article == article %}
                          <!-- 비밀댓글일 때 -->
                          {% if comment.is_secret %}
                            <!-- 글 쓴 사람 & 댓글 쓴 사람만 댓글을 볼 수 O -->
                            {% if request.user == article.user or request.user == comment.user %}
                              <div id="comment-{{ comment.pk }}" class="mb-2">
                                <div class="d-flex flex-column justify-content-between">
                                  <div class="d-flex justify-content-between align-items-center mb-2">
                                    <div style="font-weight: bold; font-size: 15px;">
                                      <!-- 프로필 사진 3 -->
                                      {% if not comment.user.profile.image %}
                                        <div class="d-flex align-items-center">
                                          <a href="{% url 'accounts:profile' comment.user.pk %}"><img src="{% static 'images/no-avatar.jpg' %}" style="border-radius: 70%; width: 25px;" alt=""></a>
                                          <a href="{% url 'accounts:profile' comment.user.pk %}"><p class="ms-2 mb-0">{{ comment.user.profile.nickname }}</p></a>
                                        </div>
                                      {% elif comment.user.profile.image|slugify|slice:'0:4' == 'http' %}
                                        <div class="d-flex align-items-center">
                                          <a href="{% url 'accounts:profile' comment.user.pk %}"><img src="{{ comment.user.profile.image }}" style="border-radius: 70%; width: 25px;" alt=""></a>
                                          <a href="{% url 'accounts:profile' comment.user.pk %}"><p class="ms-2 mb-0">{{ comment.user.profile.nickname }}</p></a>
                                        </div>
                                      {% else %}
                                        <div class="d-flex align-items-center">
                                          <a href="{% url 'accounts:profile' comment.user.pk %}"><img src="{{ comment.user.profile.image.url }}" style="border-radius: 70%; width: 25px;" alt=""></a>
                                          <a href="{% url 'accounts:profile' comment.user.pk %}"><p class="ms-2 mb-0">{{ comment.user.profile.nickname }}</p></a>
                                        </div>
                                      {% endif %}
                                    </div>
                                    <p class="mb-0" style="font-size: 12px;">{{ comment.created_at|date:'Y.m.d' }}</p>
                                  </div>
                                </div>
                                <div class="d-flex justify-content-between">
                                  <p class="mb-0 text-break">
                                    <span style="font-size: 13px;">🔒 </span><span style="white-space: pre-line">{{ comment.content }}</span>
                                  </p>
                                  <div class="d-flex align-items-end">
                                    <!-- 답글 삭제 Form -->
                                    {% if request.user == comment.user %}
                                      <form id="gb-comment-delete-form-{{ comment.pk }}" onsubmit="event.preventDefault(); delete_gb_comment(this, '{{ user.pk }}', '{{ article.pk }}', '{{ comment.pk }}')">
                                        {% csrf_token %}
                                        <input type="submit" class="btn-close" style="color:transparent; font-size: 12px;" onclick="return confirm('삭제하시겠습니까?');">
                                      </form>
                                    {% endif %}
                                  </div>
                                </div>
                              </div>
                            {% else %}
                              <div class="d-flex flex-column justify-content-between">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                  <div style="font-weight: bold; font-size: 15px;">
                                    <!-- 프로필 사진 3 -->
                                    {% if not comment.user.profile.image %}
                                      <div class="d-flex align-items-center">
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><img src="{% static 'images/no-avatar.jpg' %}" class="comment-img" alt=""></a>
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><p class="ms-2 mb-0">{{ comment.user.profile.nickname }}</p></a>
                                      </div>
                                    {% elif comment.user.profile.image|slugify|slice:'0:4' == 'http' %}
                                      <div class="d-flex align-items-center">
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><img src="{{ comment.user.profile.image }}" class="comment-img" alt=""></a>
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><p class="ms-2 mb-0">{{ comment.user.profile.nickname }}</p></a>
                                      </div>
                                    {% else %}
                                      <div class="d-flex align-items-center">
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><img src="{{ comment.user.profile.image.url }}" class="comment-img" alt=""></a>
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><p class="ms-2 mb-0">{{ comment.user.profile.nickname }}</p></a>
                                      </div>
                                    {% endif %}
                                  </div>
                                  <p class="mb-0" style="font-size: 12px;">{{ comment.created_at|date:'Y.m.d' }}</p>
                                </div>
                              </div>
                              <div class="d-flex justify-content-between">
                                <p class="mb-2" style="color:#979797; font-size: 15px;">🔒 비밀글입니다.</p>
                              </div>
                            {% endif %}
                          <!-- 비밀댓글 아닐 때 -->
                          {% else %}
                            <div id="comment-{{ comment.pk }}" class="mb-2">
                              <div class="d-flex flex-column justify-content-between">
                                <div class="d-flex justify-content-between align-items-center mb-2">
                                  <div style="font-weight: bold; font-size: 15px;">
                                    <!-- 프로필 사진 3 -->
                                    {% if not comment.user.profile.image %}
                                      <div class="d-flex align-items-center">
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><img src="{% static 'images/no-avatar.jpg' %}" class="comment-img" alt=""></a>
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><p class="ms-2 mb-0">{{ comment.user.profile.nickname }}</p></a>
                                      </div>
                                    {% elif comment.user.profile.image|slugify|slice:'0:4' == 'http' %}
                                      <div class="d-flex align-items-center">
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><img src="{{ comment.user.profile.image }}" class="comment-img" alt=""></a>
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><p class="ms-2 mb-0">{{ comment.user.profile.nickname }}</p></a>
                                      </div>
                                    {% else %}
                                      <div class="d-flex align-items-center">
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><img src="{{ comment.user.profile.image.url }}" class="comment-img" alt=""></a>
                                        <a href="{% url 'accounts:profile' comment.user.pk %}"><p class="ms-2 mb-0">{{ comment.user.profile.nickname }}</p></a>
                                      </div>
                                    {% endif %}
                                  </div>
                                  <p class="mb-0" style="font-size: 12px;">{{ comment.created_at|date:'Y.m.d' }}</p>
                                </div>
                              </div>
                              <div class="d-flex justify-content-between">
                                <p class="mb-0 text-break">
                                  <span style="white-space: pre-line">{{ comment.content }}</span>
                                </p>
                                <div class="d-flex align-items-end">
                                  <!-- 답글 삭제 Form -->
                                  {% if request.user == comment.user %}
                                    <form id="gb-comment-delete-form-{{ comment.pk }}" onsubmit="event.preventDefault(); delete_gb_comment(this, '{{ user.pk }}', '{{ article.pk }}', '{{ comment.pk }}')">
                                      {% csrf_token %}
                                      <input type="submit" class="btn-close" style="color:transparent; font-size: 12px;" onclick="return confirm('삭제하시겠습니까?');">
                                    </form>
                                  {% endif %}
                                </div>
                              </div>
                            </div>
                          {% endif %}
                        {% endif %}
                      {% endfor %}
                    </div>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
      <!--페이지네이션-->
      <div class="paginator board_page mt-5">
        <!-- 맨 앞으로 -->
        <a href="?page=1" class="page-link bt first">
          <i class="bi bi-chevron-bar-left"></i>
        </a>
        <!-- 이전 페이지 -->
        {% if gb_articles.has_previous %}
          <a class="page-link bt prev" href="?page={{ gb_articles.previous_page_number }}">
            <i class="bi bi-chevron-left"></i>
          </a>
        {% else %}
          <a class="page-link bt prev" href="javascript:void(0)" tabindex='-1' aria-disabled='true'>
            <i class="bi bi-chevron-left"></i>
          </a>
        {% endif %}
        <!-- 페이지 리스트 -->
        {% comment %}  {% endcomment %}
        {% for page_number in gb_articles.paginator.page_range %}
          {% if page_number >= gb_articles.number|add:-3 and page_number <= gb_articles.number|add:3 %}
            {% if page_number == gb_articles.number %}
              <a class='page-link num on' href="?page={{ page_number }}">{{ page_number }}</a>
            {% else %}
              <a class='page-link num' href="?page={{ page_number }}">{{ page_number }}</a>
            {% endif %}
          {% endif %}
        {% endfor %}
        <!-- 다음 페이지 -->
        {% if gb_articles.has_next %}
          <a class="page-link bt next" href="?page={{ gb_articles.next_page_number }}">
            <i class="bi bi-chevron-right"></i>
          </a>
        {% else %}
          <a class="page-link bt next" href="javascript:void(0)" tabindex='-1' aria-disabled='true'>
            <i class="bi bi-chevron-right"></i>
          </a>
        {% endif %}
        <!-- 맨 뒤로 -->
        <a href="?page={{ max_index }}" class="page-link bt last">
          <i class="bi bi-chevron-bar-right"></i>
        </a>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script type="text/javascript" src="{% static 'js/accounts_gb_article_async.js' %}"></script>
  <script type="text/javascript" src="{% static 'js/accounts_gb_comment_async.js' %}"></script>
{% endblock script %}