{% extends 'base.html' %}
{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}" type="text/css">
{% endblock link %}

{% block content %}

<div class="container my-5">
  <div class="d-flex justify-content-center align-items-center mb-4">
    {% if user.profile.image|slugify|slice:'0:4' == 'http' %}
      <!-- 깃허브에서 가져온 이미지: https로 시작 -->
      <img src="{{ user.profile.image }}" class="profile-img" alt="">
    {% elif user.profile.image %}
      <!-- 파일로 추가한 이미지 /media/ -->
      <img src="{{ user.profile.image.url }}" class="profile-img" alt="">
    {% else %}
      <img src="{% static 'images/no-avatar.jpg' %}" class="profile-img" alt="">
    {% endif %}
    <div class="ms-4 w-100">
      <div class="d-flex align-items-center mb-2">
        <h1 class="mb-0" style="font-size: calc(15px + 1.2vw);">{{ user.profile.nickname }}님의 프로필</h1>
        <!-- 회원 정보 수정 & 팔로우 버튼 -->
        {% if user == request.user %}
        <a href="{% url 'accounts:profile_update' user.pk %}">
          <input type="submit" class="btn ms-3 follow-btn-hover color-2" value="프로필 수정">
        </a>
        {% elif request.user.is_authenticated %}
          <form id="follow-form" data-user-id="{{ user.pk }}">
            {% csrf_token %}
            {% if request.user in user.followers.all %}
              <input id="follow-btn" type="submit" class="btn ms-3 follow-btn-hover color-2" value="언팔로우">
            {% else %}
              <input id="follow-btn" type="submit" class="btn ms-3 follow-btn-hover color-2" value="팔로우">
            {% endif %}
          </form>
        {% endif %}
      </div>
      <!-- 뱃지 -->
      <div class="d-flex align-items-center">
        {% if user.profile.language == 'Python' %}
        <p class="mb-1 me-2"><img src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=Python&logoColor=ffffff"/></p>
        {% elif user.profile.language == 'Java' %}
        <p class="mb-1 me-2"><img src="https://img.shields.io/badge/java-007396?style=for-the-badge&logo=java&logoColor=white"></p>
        {% elif user.profile.language == 'C' %}
        <p class="mb-1 me-2"><img src="https://img.shields.io/badge/C-A8B9CC?style=for-the-badge&logo=C&logoColor=white"></p>
        {% elif user.profile.language == 'JavaScript' %}
        <p class="mb-1 me-2"><img src="https://img.shields.io/badge/javascript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black"> </p>
        {% elif user.profile.language == 'C++' %}
        <p class="mb-1 me-2"><img src="https://img.shields.io/badge/c++-00599C?style=for-the-badge&logo=c%2B%2B&logoColor=white"></p>
        {% elif user.profile.language == 'PHP' %}
        <p class="mb-1 me-2"><img src="https://img.shields.io/badge/php-777BB4?style=for-the-badge&logo=php&logoColor=white"></p>
        {% endif %}
        <p class="mt-1 mb-1 me-2"><span class="{{ user.profile.mbti }}-badge">{{ user.profile.mbti }}</span></p>
        {% if tier %}
        <p class="mt-1 mb-1"><img style="height: 25px" src="https://static.solved.ac/tier_small/{{ tier }}.svg"> </p>
        {% else %}
        <p class="text-muted mt-1 mb-1"> 백준 아이디를 등록해주세요 </p>
        {% endif %}
      </div>
      <!-- 팔로워 팔로잉 -->
      <p class="mt-1 mb-2">
        <a type="button" data-bs-toggle="modal" data-bs-target="#followerModal">
          팔로워 <span id="followers-count-{{ user.pk }}">{{ user.followers.count }}</span>
        </a>
        <a type="button" data-bs-toggle="modal" data-bs-target="#followingModal" class="ms-1">
          팔로잉 <span id="followings-count-{{ user.pk }}">{{ user.followings.count }}</span>
        </a>
      </p>
      <!-- 쪽지, 방명록 -->
      <div class="d-none d-sm-block">
        <div class="d-flex justify-content-between">
          <p class="mb-1" style="min-width: 250px;">{{ user.profile.intro }}</p>
          <div class="d-flex justify-content-end align-items-end w-100" style="min-width: 165px;">
            <a href="{% url 'notes:send_to' user.pk %}" class="bbtn me-2">쪽지 보내기</a>
            <a href="{% url 'accounts:guestbook' user.pk %}" class="bbtn">방명록</a>
          </div>
        </div>
      </div>
      <div class="d-block d-sm-none">
        <p class="mb-1">{{ user.profile.intro }}</p>
        <div class="d-flex justify-content-end w-100" style="min-width: 165px;">
          <a href="{% url 'notes:send_to' user.pk %}" class="bbtn me-2">쪽지 보내기</a>
          <a href="{% url 'accounts:guestbook' user.pk %}" class="bbtn">방명록</a>
        </div>
      </div>
    </div>
  </div>
  <hr>

  <div class="d-flex flex-wrap justify-content-center flex-column">
    <!-- github 잔디 -->
    <!-- username: jupiter6676 -->
    <!-- 16진수 색상표 https://jasmintime.com/244 -->
    <!-- <img src="https://ghchart.rshah.org/6495ed/{{ user.profile.github_id }}" class="w-100"> -->
    {% if user.profile.github_id %}
    <img src="https://ghchart.rshah.org/{{ user.profile.github_id }}" class="w-100 mb-3" 
    onclick="window.open('https://github.com/{{ user.profile.github_id }}')" style="cursor: pointer;" target="_blank" >
    {% endif %}
    <!-- 작성 글-->
    <div class="mb-2">
      <a data-bs-toggle="collapse" href="#articlecollapse" 
      role="button" aria-expanded="false" aria-controls="articlecollapse" style="font-size: 17px;">
      작성 글  <b>{{ user.article_set.all.count }}</b>
      </a>
      <div class="collapse" id="articlecollapse" style="height: 100%;">
        <table class="table" style="box-shadow: 0 0px 0px rgb(0 0 0 / 25%);">
          <thead>
            <tr>
              <th scope="col">제목</th>
              <th scope="col">작성일</th>
              <th scope="col" style="min-width: 45px;">조회</th>
              {% if request.user == user %}
              <th scope="col" style="min-width: 45px;">삭제</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for article in user.article_set.all %}
            <tr>
              <td class="title" style="padding: 8px 8px 8px 16px;">
                <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
              </td>
              <td class="date">{{ article.create_at|date:'Y-m-d' }}</td>
              <td class="views">{{ article.hits }}</td>
              {% if request.user == user %}
              <td class="delete"><a href="{% url 'articles:delete' article.pk %}"><i class="bi bi-trash-fill"></i></a></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table> 
      </div>
    </div>
    <div class="mb-2">
      <a data-bs-toggle="collapse" href="#commentcollapse" 
      role="button" aria-expanded="false" aria-controls="commentcollapse" style="font-size: 17px;">
      작성 댓글  <b>{{ user.articlecomment_set.all.count }}</b>
      </a>
      <div class="collapse" id="commentcollapse">
        <table class="table" style="box-shadow: 0 0px 0px rgb(0 0 0 / 25%);">
          <thead>
            <tr>
              <th scope="col">내용</th>
              <th scope="col">작성일</th>
              {% if request.user == user %}
              <th scope="col" style="min-width: 45px;">삭제</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for comment in user.articlecomment_set.all %}
            <tr>
              <td class="title" style="padding: 8px 8px 8px 16px;">
                <a href="{% url 'articles:detail' comment.article.pk %}">{{ comment.content }}</a>
              </td>
              <td class="date">{{ comment.create_at|date:'Y-m-d' }}</td>
              {% if request.user == user %}
              <td class="delete"><a href="{% url 'articles:profile_comments_delete' comment.pk %}"><i class="bi bi-trash-fill"></i></a></td>
              {% endif %}
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <div class="mb-2">
      <a data-bs-toggle="collapse" href="#likecollapse" 
      role="button" aria-expanded="false" aria-controls="likecollapse" style="font-size: 17px;">
      좋아요 누른 글  <b>{{ user.article_like.all.count }}</b>
      </a>
      <div class="collapse" id="likecollapse">
        <table class="table" style="box-shadow: 0 0px 0px rgb(0 0 0 / 25%);">
          <thead>
            <tr>
              <th scope="col">제목</th>
              <th scope="col">작성일</th>
              <th scope="col" style="min-width: 45px;">조회</th>
            </tr>
          </thead>
          <tbody>
            {% for article in user.article_like.all %}
            <tr>
              <td class="title" style="padding: 8px 8px 8px 16px;">
                <a href="{% url 'articles:detail' article.pk %}">{{ article.title }}</a>
              </td>
              <td class="date">{{ article.create_at|date:'Y-m-d' }}</td>
              <td class="views">{{ article.hits }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table> 
      </div>
    </div>
  </div>

  <!-- 팔로워 modal -->
  <div class="modal fade" id="followerModal" tabindex="-1" aria-labelledby="exampleModalLabel2" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel2">팔로워 목록</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="followers-box" data-followers-box-id="{{ user.pk }}" class="modal-body py-2">
          {% if followers %}
            {% for follower in followers %}
              <div class="d-flex justify-content-between align-items-center" id="user-{{ follower.pk }}">
                <div class="d-flex align-items-center my-3" >
                  <div class="mx-3">
                    <a href="{% url 'accounts:profile' follower.pk %}">
                      {% if follower.profile.image|slugify|slice:'0:4' == 'http' %}
                      <!-- 깃허브에서 가져온 이미지: https로 시작 -->
                      <img src="{{ follower.profile.image }}" class="modal-profile-img" alt="">
                      {% elif follower.profile.image %}
                      <!-- 파일로 추가한 이미지 /media/ -->
                      <img src="{{ follower.profile.image.url }}" class="modal-profile-img" alt="">
                      {% else %}
                      <img src="{% static 'images/no-avatar.jpg' %}" class="modal-profile-img" alt="">
                      {% endif %}
                    </a>
                  </div>
                  <div>
                    <a href="{% url 'accounts:profile' follower.pk %}">
                      <p class="mb-0"><b>{{ follower.profile.nickname }}</b></p>
                      <p class="mb-0" style="font-size: 13px;">{{ follower }}</p>
                    </a>
                  </div>
                </div>
                <div class="me-3">
                  {% if request.user.is_authenticated %}
                    <form class="follow-forms-1" data-user-id="{{ follower.pk }}">
                      {% csrf_token %}
                      {% if request.user != follower %}
                        {% if request.user in follower.followers.all %}
                          <input id="follow-btn-1-{{ follower.pk }}" type="submit" class="btn px-3 bbtn" value="언팔로우">
                        {% else %}
                          <input id="follow-btn-1-{{ follower.pk }}" type="submit" class="btn px-3 bbtn" value="팔로우">
                        {% endif %}
                      {% endif %}
                    </form>
                  {% endif %}                 
                </div>
              </div>
            {% endfor %}
          {% else %}
            <p id="no-followers" class="py-5 text-center text-muted">아직 팔로워가 없어요</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</div>

  <!-- 팔로잉 modal -->
  <div class="modal fade" id="followingModal" tabindex="-1" aria-labelledby="exampleModalLabel3" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel3">팔로잉 목록</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div id="followings-box" data-followings-box-id="{{ user.pk }}" class="modal-body py-2">
          {% if followings %}
            {% for following in followings %}
              <div class="d-flex justify-content-between align-items-center" id="user-{{ following.pk }}">
                <div class="d-flex align-items-center my-3">
                  <div class="mx-3">
                    <a href="{% url 'accounts:profile' following.pk %}">
                      {% if following.profile.image|slugify|slice:'0:4' == 'http' %}
                      <!-- 깃허브에서 가져온 이미지: https로 시작 -->
                      <img src="{{ following.profile.image }}" class="modal-profile-img" alt="">
                      {% elif following.profile.image %}
                      <!-- 파일로 추가한 이미지 /media/ -->
                      <img src="{{ following.profile.image.url }}" class="modal-profile-img" alt="">
                      {% else %}
                      <img src="{% static 'images/no-avatar.jpg' %}" class="modal-profile-img" alt="">
                      {% endif %}
                    </a>
                  </div>
                  <div>
                    <a href="{% url 'accounts:profile' following.pk %}">
                      <p class="mb-0"><b>{{ following.profile.nickname }}</b></p>
                      <p class="mb-0" style="font-size: 13px;">{{ following }}</p>
                    </a>
                  </div>
                </div>
                <div class="me-3">
                  {% if request.user.is_authenticated %}
                  <form class="follow-forms-2" data-user-id="{{ following.pk }}">
                    {% csrf_token %}
                    {% if request.user != following %}
                      {% if request.user in following.followers.all %}
                        <input id="follow-btn-2-{{ following.pk }}" type="submit" class="btn px-3 bbtn" value="언팔로우">
                      {% else %}
                        <input id="follow-btn-2-{{ following.pk }}" type="submit" class="btn px-3 bbtn" value="팔로우">
                      {% endif %}
                    {% endif %}
                  </form>
                  {% endif %}
                </div>
              </div>
            {% endfor %}
          {% else %}
            <p id="no-followings" class="py-5 text-center text-muted">아직 팔로우하는 유저가 없어요</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script type="text/javascript" src="{% static 'js/accounts_follow_async.js' %}"></script>
  <script>
    //댓글 비동기 삭제
    function delete_comment(form, article_pk, comment_pk) {
      const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
        axios({
          method: 'post',
          url: `/articles/${article_pk}/comments_create/${comment_pk}/delete/`,
          headers: {
            'X-CSRFToken': csrftoken
          }
        })
        .then(response => {
          const comment = document.querySelector(`#article-${comment_pk}`)
          console.log(response.data.is_deleted)
          comment.remove()
        })
    }
  </script>
{% endblock script %}