{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}
{% block content %}
  <div class="container py-5 d-flex justify-content-center">
    <div class="col-sm-12 col-lg-6 col-md-8">
      <h3 class="text-center mb-4">회원 정보 수정</h3>
      <form action="{% url 'accounts:profile_update' user.pk %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form profile_form %}
        <div class="mt-1 d-flex justify-content-between">
          <div class="d-flex">
            {% comment %} <a href="{% url 'accounts:delete' user.pk %}" class="bbtn-gray me-2" onclick="return confirm('정말 탈퇴하시겠습니까?');">회원 탈퇴</a> {% endcomment %}
            <a href="{% url 'accounts:password' %}" class="bbtn-gray">비밀번호 변경</a>
          </div>
          <input type="submit" value="완료" class="bbtn">
        </div>
      </form>
      <form action="{% url 'accounts:delete' %}" method="POST">
        {% csrf_token %}
        <input type="submit" class="bbtn-gray me-2" onclick="return conform('정말 탈퇴하시겠습니까?')">
      </form>
    </div>
  </div>

{% endblock content %}

{% block script %}{% endblock script %}
