{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static 'css/notes.css' %}" type="text/css">
{% endblock link %}

{% block content%}
  <div class="container mt-5">
    <div class="row">
      <div class="col-3">
        <h4 class="text-center mb-4">✉️</h4>
        <table class="table">
          <thead>
          </thead>
          <tbody>
            <tr>
              <th scope="col"><a href="{% url 'notes:send' %}">쪽지 쓰기</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:index' %}">받은 쪽지함</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:sent' %}">보낸 쪽지함</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:important' %}">보관함</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:trash' %}">휴지통</a></th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-9 bg-white">
        <h5 class="mb-3">받는 사람 : {{ note.to_user.profile.nickname }} ({{ note.to_user.username }})</h5>
        <h5 class="mb-3">보낸 사람 : {{ note.from_user.profile.nickname }} ({{ note.from_user.username }})</h5>
        <h5 class="mb-3">받은 시간 : {{ note.created_at|date:'y년 m월 d일 H시 m분' }}</h5>
        <h5 class="mb-3">제목 : {{ note.title }}</h5>
        <h5 class="mb-3">내용 : {{ note.content }}</h5>
      </div>
    </div>
  </div>
{% endblock %}
