{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static 'css/notes.css' %}" type="text/css">
{% endblock link %}

{% block content%}
  <div class="container mt-5">
    <div id="main_in" class="row">
      <div class="col-3">
        <h4 class="text-center mb-4">✉️</h4>
        <table class="table">
          <thead>
          </thead>
          <tbody>
            <tr>
              <th scope="col"><a href="{% url 'notes:send' %}">쪽지 쓰기</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:index' %}">받은 쪽지함</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:sent' %}">보낸 쪽지함</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:important' %}">보관함</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:trash' %}">휴지통</a></th>
            </tr>
          </tbody>
        </table>
      </div>
      {% if request.resolver_match.url_name == 'index' %}
      <div class="col-9">
        <h4 class="text-center mb-4" style="font-family: 'HBIOS-SYS';">받은 쪽지함</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col-2">보낸 사람</th>
              <th scope="col-5">제목</th>
              <th scope="col-2">받은 시간</th>
              <th scope="col-1" style="min-width: 40px;">읽음</th>
              <th scope="col-1">보관</th>
              <th scope="col-1">삭제</th>
            </tr>
          </thead>
          <tbody>
            {% for note in notes %}
              <!-- 쪽지 읽음 일때 -->
              {% if note.read == 1 %}
              <tr class="text-muted" id="{{note.pk}}">
                <td><a href="{% url 'accounts:profile' note.to_user.pk %}">{{ note.to_user.profile.nickname }}</a></td>
                <td class="title"><a class="text-muted" href="{% url 'notes:detail' note.pk %}">{{ note.title }}</a></td>
                <td>{{ note.created_at|date:'m.d H:i' }}</td>
                {% if note.read == 1 %}
                <td>읽음</td>
                {% else %}
                <td class="not_read">안읽음</td>
                {% endif %}
                {% if not note.important %}
                <td scope="row"><a href="{% url 'notes:important_check' note.id %}"><i class="bi bi-star mx-1"></i></a></td>
                {% else %}
                <td scope="row"><a href="{% url 'notes:important_return' note.id %}"><i class="bi bi-star-fill mx-1 text-warning"></i></a></td>
                {% endif %}
                <td>
                  <a href="{% url 'notes:trash_throw_away' note.pk %}"><i class="bi bi-trash-fill"></i></a>
                </td>
              </tr>
              {% else %}
              <!-- 쪽지 안읽음 일때-->
              <tr id="{{note.pk}}">
                <td><a href="{% url 'accounts:profile' note.to_user.pk %}">{{ note.to_user.profile.nickname }}</a></td>
                <td class="title"><a href="{% url 'notes:detail' note.pk %}" class="fw-bold">{{ note.title }}</a></td>
                <td>{{ note.created_at|date:'m.d H:i' }}</td>
                {% if note.read == 1 %}
                <td>읽음</td>
                {% else %}
                <td class="not_read">안읽음</td>
                {% endif %}
                {% if not note.important %}
                <td scope="row"><a href="{% url 'notes:important_check' note.id %}"><i class="bi bi-star mx-1"></i></a></td>
                {% else %}
                <td scope="row"><a href="{% url 'notes:important_return' note.id %}"><i class="bi bi-star-fill mx-1 text-warning"></i></a></td>
                {% endif %}
                <td>
                  <a href="{% url 'notes:trash_throw_away' note.pk %}"><i class="bi bi-trash-fill"></i></a>
                </td>
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      {% elif request.resolver_match.url_name == 'sent' %}
      <div class="col-9">
        <h4 class="text-center mb-4" style="font-family: 'HBIOS-SYS';">보낸 쪽지함</h4>
        <table class="table bg-white">
          <thead>
            <tr>
              <th scope="col-2">받는 사람</th>
              <th scope="col-6">제목</th>
              <th scope="col-2">받은 시간</th>
              <th scope="col-1">읽음</th>
              <th scope="col-1">삭제</th>
            </tr>
          </thead>
          <tbody>
            {% for note in to_notes %}
              <!-- 쪽지 읽음 일때 -->
              {% if note.read == 1 %}
              <tr class="text-muted" id="note-{{note.pk}}">
                <td><a href="{% url 'accounts:profile' note.to_user.pk %}">{{ note.to_user.profile.nickname }}</a></td>
                <td class="title"><a class="text-muted" href="{% url 'notes:detail' note.pk %}">{{ note.title }}</a></td>
                <td>{{ note.created_at|date:'m.d H:i' }}</td>
                {% if note.read == 1 %}
                <td>읽음</td>
                {% else %}
                <td class="not_read">안읽음</td>
                {% endif %}
                <td>
                  <form data-note-id="{{ note.pk }}" class="note-delete-forms">
                    {% csrf_token %}
                    <button type="submit" class="trash-btn" disabled>
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% else %}
              <!-- 쪽지 안읽음 일때-->
              <tr id="note-{{note.pk}}">
                <td><a href="{% url 'accounts:profile' note.to_user.pk %}">{{ note.to_user.profile.nickname }}</a></td>
                <td class="title"><a href="{% url 'notes:detail' note.pk %}" class="fw-bold">{{ note.title }}</a></td>
                <td>{{ note.created_at|date:'m.d H:i' }}</td>
                {% if note.read == 1 %}
                <td>읽음</td>
                {% else %}
                <td class="not_read">안읽음</td>
                {% endif %}
                <td>
                  <form data-note-id="{{ note.pk }}" class="note-delete-forms">
                    {% csrf_token %}
                    <button type="submit" class="trash-btn" onclick="return confirm('삭제하시겠습니까?\n복구 불가능합니다.');">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <p class="text-end text-muted">상대가 읽기 전에 삭제하면 상대 쪽지함에서도 삭제됩니다.</p>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}


{% block script %}
  <script>
    const noteDeleteForms = document.querySelectorAll('.note-delete-forms')
    noteDeleteForms.forEach(form => {
      form.addEventListener('submit', event => {
        event.preventDefault()
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value
        const noteId = event.target.dataset.noteId
        console.log(noteId)
        axios({
          method: 'post',
          url: `/notes/${noteId}/delete/`,
          headers: {
            'X-CSRFToken': csrfToken
          }
        }).then(response => {
          const note = document.querySelector(`#note-${noteId}`)
          const is_deleted = response.data.is_deleted

          if (is_deleted === true) {
            note.remove()
          }
        })
      })
    })
  </script>
{% endblock script %}