{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static 'css/notes.css' %}" type="text/css">
{% endblock link %}

{% block content%}
  <div class="container mt-5">
    <div id="main_in" class="row">
      <div class="col-3 d-none d-sm-block">
        <h4 class="text-center mb-4">✉️</h4>
        <table class="table">
          <tbody>
            <tr>
              <th scope="col"><a href="{% url 'notes:send' %}">쪽지 쓰기</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:index' %}">받은 쪽지함</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:sent' %}">보낸 쪽지함</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:important' %}">보관함</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:trash' %}">휴지통</a></th>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- Visible only on xs -->
      <div class="d-block d-sm-none">
        <h4 class="text-center mb-4">✉️</h4>
        <table class="table">
          <thead>
          </thead>
          <tbody>
            <tr>
              <th scope="col"><a href="{% url 'notes:send' %}">쪽지 쓰기</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:index' %}">받은 쪽지함</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:sent' %}">보낸 쪽지함</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:important' %}">보관함</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:trash' %}">휴지통</a></th>
            </tr>
          </tbody>
        </table>
      </div>

      {% if request.resolver_match.url_name == 'index' %}
      <div class="col-9 d-none d-sm-block" style="min-height: 700px;">
        <h4 class="text-center mb-4" style="font-family: 'HBIOS-SYS';">받은 쪽지함</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">보낸 사람</th>
              <th scope="col">제목</th>
              <th scope="col" class="date d-none d-sm-block">받은 시간</th>
              <th scope="col" style="min-width: 40px;">읽음</th>
              <th scope="col">보관</th>
              <th scope="col">삭제</th>
            </tr>
          </thead>
          <tbody>
            {% for note in notes %}
              <!-- 쪽지 읽음 일때 -->
              {% if note.read == 1 %}
              <tr class="text-muted">
                <td class="user"><a href="{% url 'accounts:profile' note.from_user.pk %}">{{ note.from_user.profile.nickname }}</a></td>
                <td class="title2"><a class="text-muted" href="{% url 'notes:detail' note.pk %}">{{ note.title }}</a></td>
                <td class="d-none d-sm-none d-md-none d-lg-block date">{{ note.created_at|date:'m.d H:i' }}</td>
                <td class="d-none d-sm-block d-md-block d-lg-none date">{{ note.created_at|date:'m.d' }}</td>
                {% if note.read == 1 %}
                <td class="not_read read">읽음</td>
                {% else %}
                <td class="not_read read">안읽음</td>
                {% endif %}
                {% if not note.important %}
                <td scope="row"><a href="{% url 'notes:important_check' note.pk %}"><i class="bi bi-star mx-1"></i></a></td>
                {% else %}
                <td scope="row"><a href="{% url 'notes:important_return' note.pk %}"><i class="bi bi-star-fill mx-1 text-warning"></i></a></td>
                {% endif %}
                <td class="delete">
                  <a href="{% url 'notes:trash_throw_away' note.pk %}"><i class="bi bi-trash-fill"></i></a>
                </td>
              </tr>
              {% else %}
              <!-- 쪽지 안읽음 일때-->
              <tr>
                <td class="user"><a href="{% url 'accounts:profile' note.from_user.pk %}">{{ note.from_user.profile.nickname }}</a></td>
                <td class="title2"><a class="fw-bold" href="{% url 'notes:detail' note.pk %}">{{ note.title }}</a></td>
                <td class="d-none d-sm-none d-md-none d-lg-block date">{{ note.created_at|date:'m.d H:i' }}</td>
                <td class="d-none d-sm-block d-md-block d-lg-none date">{{ note.created_at|date:'m.d' }}</td>
                {% if note.read == 1 %}
                <td class="not_read read">읽음</td>
                {% else %}
                <td class="not_read read">안읽음</td>
                {% endif %}
                {% if not note.important %}
                <td scope="row"><a href="{% url 'notes:important_check' note.pk %}"><i class="bi bi-star mx-1"></i></a></td>
                {% else %}
                <td scope="row"><a href="{% url 'notes:important_return' note.pk %}"><i class="bi bi-star-fill mx-1 text-warning"></i></a></td>
                {% endif %}
                <td class="delete">
                  <a href="{% url 'notes:trash_throw_away' note.pk %}"><i class="bi bi-trash-fill"></i></a>
                </td>
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <!--페이지네이션-->
        <div class="paginator board_page my-5">
          <!-- 맨 앞으로 -->
          <a href="?page=1" class="page-link bt first">
            <i class="bi bi-chevron-bar-left"></i>
          </a>
          <!-- 이전 페이지 -->
          {% if notes.has_previous %}
            <a class="page-link bt prev" href="?page={{ notes.previous_page_number }}">
              <i class="bi bi-chevron-left"></i>
            </a>
          {% else %}
            <a class="page-link bt prev" href="javascript:void(0)" tabindex='-1' aria-disabled='true'>
              <i class="bi bi-chevron-left"></i>
            </a>
          {% endif %}
          <!-- 페이지 리스트 -->
          {% for page_number in notes.paginator.page_range %}
            {% if page_number >= notes.number|add:-3 and page_number <= notes.number|add:3 %}
              {% if page_number == notes.number %}
                <a class='page-link num on' href="?page={{ page_number }}">{{ page_number }}</a>
              {% else %}
                <a class='page-link num' href="?page={{ page_number }}">{{ page_number }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
          <!-- 다음 페이지 -->
          {% if notes.has_next %}
            <a class="page-link bt next" href="?page={{ notes.next_page_number }}">
              <i class="bi bi-chevron-right"></i>
            </a>
          {% else %}
            <a class="page-link bt next" href="javascript:void(0)" tabindex='-1' aria-disabled='true'>
              <i class="bi bi-chevron-right"></i>
            </a>
          {% endif %}
          <!-- 맨 뒤로 -->
          <a href="?page={{ max_index }}" class="page-link bt last">
            <i class="bi bi-chevron-bar-right"></i>
          </a>
        </div>
      </div>

      <!-- Visible only on xs -->
      <div class="d-block d-sm-none">
        <h4 class="text-center my-4" style="font-family: 'HBIOS-SYS';">받은 쪽지함</h4>
        <table class="table">
          <tbody>
            {% for note in notes %}
              <!-- 쪽지 읽음 일때 -->
              {% if note.read == 1 %}
              <tr class="text-muted">
                <td class="title2" style="padding: 8px 8px 8px 16px;">
                  <a class="text-muted" href="{% url 'notes:detail' note.pk %}">{{ note.from_user.profile.nickname }}<br>{{ note.title }}</a>
                </td>
                {% if note.read == 1 %}
                <td class="read" style="min-width: 60px;">읽음</td>
                {% else %}
                <td class="not_read read" style="min-width: 60px;">안읽음</td>
                {% endif %}
                {% if not note.important %}
                <td scope="row" class="important"><a href="{% url 'notes:important_check' note.pk %}"><i class="bi bi-star mx-1"></i></a></td>
                {% else %}
                <td scope="row" class="important"><a href="{% url 'notes:important_return' note.pk %}"><i class="bi bi-star-fill mx-1 text-warning"></i></a></td>
                {% endif %}
                <td class="delete">
                  <a href="{% url 'notes:trash_throw_away' note.pk %}"><i class="bi bi-trash-fill"></i></a>
                </td>
              </tr>
              {% else %}
              <!-- 쪽지 안읽음 일때-->
              <tr>
                <td class="title2" style="padding: 8px 8px 8px 16px;">
                  <a class="text-muted" href="{% url 'notes:detail' note.pk %}">{{ note.from_user.profile.nickname }}<br>{{ note.title }}</a>
                </td>
                {% if note.read == 1 %}
                <td class="read" style="min-width: 60px;">읽음</td>
                {% else %}
                <td class="not_read read" style="min-width: 60px;">안읽음</td>
                {% endif %}
                {% if not note.important %}
                <td scope="row" class="important"><a href="{% url 'notes:important_check' note.pk %}"><i class="bi bi-star mx-1"></i></a></td>
                {% else %}
                <td scope="row" class="important"><a href="{% url 'notes:important_return' note.pk %}"><i class="bi bi-star-fill mx-1 text-warning"></i></a></td>
                {% endif %}
                <td class="delete">
                  <a href="{% url 'notes:trash_throw_away' note.pk %}"><i class="bi bi-trash-fill"></i></a>
                </td>
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <!--페이지네이션-->
        <div class="paginator board_page my-5">
          <!-- 맨 앞으로 -->
          <a href="?page=1" class="page-link bt first">
            <i class="bi bi-chevron-bar-left"></i>
          </a>
          <!-- 이전 페이지 -->
          {% if notes.has_previous %}
            <a class="page-link bt prev" href="?page={{ notes.previous_page_number }}">
              <i class="bi bi-chevron-left"></i>
            </a>
          {% else %}
            <a class="page-link bt prev" href="javascript:void(0)" tabindex='-1' aria-disabled='true'>
              <i class="bi bi-chevron-left"></i>
            </a>
          {% endif %}
          <!-- 페이지 리스트 -->
          {% comment %}  {% endcomment %}
          {% for page_number in notes.paginator.page_range %}
            {% if page_number >= notes.number|add:-3 and page_number <= notes.number|add:3 %}
              {% if page_number == notes.number %}
                <a class='page-link num on' href="?page={{ page_number }}">{{ page_number }}</a>
              {% else %}
                <a class='page-link num' href="?page={{ page_number }}">{{ page_number }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
          <!-- 다음 페이지 -->
          {% if notes.has_next %}
            <a class="page-link bt next" href="?page={{ notes.next_page_number }}">
              <i class="bi bi-chevron-right"></i>
            </a>
          {% else %}
            <a class="page-link bt next" href="javascript:void(0)" tabindex='-1' aria-disabled='true'>
              <i class="bi bi-chevron-right"></i>
            </a>
          {% endif %}
          <!-- 맨 뒤로 -->
          <a href="?page={{ max_index }}" class="page-link bt last">
            <i class="bi bi-chevron-bar-right"></i>
          </a>
        </div>
      </div>
      {% elif request.resolver_match.url_name == 'sent' %}
      <div class="col-9 d-none d-sm-block" style="min-height: 700px;">
        <h4 class="text-center mb-4" style="font-family: 'HBIOS-SYS';">보낸 쪽지함</h4>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">받는 사람</th>
              <th scope="col">제목</th>
              <th scope="col">보낸 시간</th>
              <th scope="col">읽음</th>
              <th scope="col">삭제</th>
            </tr>
          </thead>
          <tbody>
            {% for note in to_notes %}
              <!-- 쪽지 읽음 일때 -->
              {% if note.read == 1 %}
              <tr class="text-muted" id="note-{{note.pk}}">
                <td class="user"><a href="{% url 'accounts:profile' note.to_user.pk %}">{{ note.to_user.profile.nickname }}</a></td>
                <td class="title2"><a class="text-muted" href="{% url 'notes:detail' note.pk %}">{{ note.title }}</a></td>
                <td class="d-none d-sm-none d-md-none d-lg-block date">{{ note.created_at|date:'m.d H:i' }}</td>
                <td class="d-none d-sm-block d-md-block d-lg-none date">{{ note.created_at|date:'m.d' }}</td>
                {% if note.read == 1 %}
                <td class="read">읽음</td>
                {% else %}
                <td class="not_read read">안읽음</td>
                {% endif %}
                <td class="delete">
                  <form data-note-id="{{ note.pk }}" class="note-delete-forms">
                    {% csrf_token %}
                    <button type="submit" class="trash-btn" disabled>
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% else %}
              <!-- 쪽지 안읽음 일때-->
              <tr id="note-{{note.pk}}">
                <td class="user"><a href="{% url 'accounts:profile' note.to_user.pk %}">{{ note.to_user.profile.nickname }}</a></td>
                <td class="title2"><a href="{% url 'notes:detail' note.pk %}" class="fw-bold">{{ note.title }}</a></td>
                <td class="d-none d-sm-none d-md-none d-lg-block date">{{ note.created_at|date:'m.d H:i' }}</td>
                <td class="d-none d-sm-block d-md-block d-lg-none date">{{ note.created_at|date:'m.d' }}</td>
                {% if note.read == 1 %}
                <td class="read">읽음</td>
                {% else %}
                <td class="not_read read">안읽음</td>
                {% endif %}
                <td class="delete">
                  <form data-note-id="{{ note.pk }}" class="note-delete-forms">
                    {% csrf_token %}
                    <button type="submit" class="trash-btn" onclick="return confirm('삭제하시겠습니까?\n복구 불가능합니다.');">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <p class="text-end text-muted">상대가 읽기 전에 삭제하면 상대 쪽지함에서도 삭제됩니다.</p>
        <!--페이지네이션-->
        <div class="paginator board_page my-5">
          <!-- 맨 앞으로 -->
          <a href="?page=1" class="page-link bt first">
            <i class="bi bi-chevron-bar-left"></i>
          </a>
          <!-- 이전 페이지 -->
          {% if to_notes.has_previous %}
            <a class="page-link bt prev" href="?page={{ to_notes.previous_page_number }}">
              <i class="bi bi-chevron-left"></i>
            </a>
          {% else %}
            <a class="page-link bt prev" href="javascript:void(0)" tabindex='-1' aria-disabled='true'>
              <i class="bi bi-chevron-left"></i>
            </a>
          {% endif %}
          <!-- 페이지 리스트 -->
          {% comment %}  {% endcomment %}
          {% for page_number in to_notes.paginator.page_range %}
            {% if page_number >= to_notes.number|add:-3 and page_number <= to_notes.number|add:3 %}
              {% if page_number == to_notes.number %}
                <a class='page-link num on' href="?page={{ page_number }}">{{ page_number }}</a>
              {% else %}
                <a class='page-link num' href="?page={{ page_number }}">{{ page_number }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
          <!-- 다음 페이지 -->
          {% if to_notes.has_next %}
            <a class="page-link bt next" href="?page={{ to_notes.next_page_number }}">
              <i class="bi bi-chevron-right"></i>
            </a>
          {% else %}
            <a class="page-link bt next" href="javascript:void(0)" tabindex='-1' aria-disabled='true'>
              <i class="bi bi-chevron-right"></i>
            </a>
          {% endif %}
          <!-- 맨 뒤로 -->
          <a href="?page={{ max_index }}" class="page-link bt last">
            <i class="bi bi-chevron-bar-right"></i>
          </a>
        </div>
      </div>

      <!-- Visible only on xs -->
      <div class="d-block d-sm-none">
        <h4 class="text-center my-4" style="font-family: 'HBIOS-SYS';">보낸 쪽지함</h4>
        <table class="table">
          <tbody>
            {% for note in to_notes %}
              <!-- 쪽지 읽음 일때 -->
              {% if note.read == 1 %}
              <tr class="text-muted" id="note-{{note.pk}}">
                <td class="title2" style="padding: 8px 8px 8px 16px;">
                  <a class="text-muted" href="{% url 'notes:detail' note.pk %}">{{ note.to_user.profile.nickname }}<br>{{ note.title }}</a>
                </td>
                {% if note.read == 1 %}
                <td class="not_read read">읽음</td>
                {% else %}
                <td class="not_read read">안읽음</td>
                {% endif %}
                <td class="delete">
                  <form data-note-id="{{ note.pk }}" class="note-delete-forms">
                    {% csrf_token %}
                    <button type="submit" class="trash-btn" disabled>
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% else %}
              <!-- 쪽지 안읽음 일때-->
              <tr id="note1-{{note.pk}}">
                <td class="title2 fw-bold" style="padding: 8px 8px 8px 16px;">
                  <a class="text-muted" href="{% url 'notes:detail' note.pk %}">{{ note.to_user.profile.nickname }}<br>{{ note.title }}</a>
                </td>
                {% if note.read == 1 %}
                <td class="not_read read">읽음</td>
                {% else %}
                <td class="not_read read">안읽음</td>
                {% endif %}
                <td class="delete">
                  <form data-note-id="{{ note.pk }}" class="note-delete-forms1">
                    {% csrf_token %}
                    <button type="submit" class="trash-btn" onclick="return confirm('삭제하시겠습니까?\n복구 불가능합니다.');">
                      <i class="bi bi-trash-fill"></i>
                    </button>
                  </form>
                </td>
              </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        {% if to_notes %}
        <p class="text-end text-muted" style="font-size: 13px;">상대가 읽기 전에 삭제하면 상대 쪽지함에서도 삭제됩니다.</p>
        {% else %}
        <p class="text-center text-muted">쪽지가 없습니다.</p>
        {% endif %}
        <!--페이지네이션-->
        <div class="paginator board_page my-5">
          <!-- 맨 앞으로 -->
          <a href="?page=1" class="page-link bt first">
            <i class="bi bi-chevron-bar-left"></i>
          </a>
          <!-- 이전 페이지 -->
          {% if to_notes.has_previous %}
            <a class="page-link bt prev" href="?page={{ to_notes.previous_page_number }}">
              <i class="bi bi-chevron-left"></i>
            </a>
          {% else %}
            <a class="page-link bt prev" href="javascript:void(0)" tabindex='-1' aria-disabled='true'>
              <i class="bi bi-chevron-left"></i>
            </a>
          {% endif %}
          <!-- 페이지 리스트 -->
          {% comment %}  {% endcomment %}
          {% for page_number in to_notes.paginator.page_range %}
            {% if page_number >= to_notes.number|add:-3 and page_number <= to_notes.number|add:3 %}
              {% if page_number == to_notes.number %}
                <a class='page-link num on' href="?page={{ page_number }}">{{ page_number }}</a>
              {% else %}
                <a class='page-link num' href="?page={{ page_number }}">{{ page_number }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
          <!-- 다음 페이지 -->
          {% if to_notes.has_next %}
            <a class="page-link bt next" href="?page={{ to_notes.next_page_number }}">
              <i class="bi bi-chevron-right"></i>
            </a>
          {% else %}
            <a class="page-link bt next" href="javascript:void(0)" tabindex='-1' aria-disabled='true'>
              <i class="bi bi-chevron-right"></i>
            </a>
          {% endif %}
          <!-- 맨 뒤로 -->
          <a href="?page={{ max_index }}" class="page-link bt last">
            <i class="bi bi-chevron-bar-right"></i>
          </a>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
{% endblock content %}


{% block script %}
  <script>
    const noteDeleteForms = document.querySelectorAll('.note-delete-forms')
    noteDeleteForms.forEach(form => {
      form.addEventListener('submit', event => {
        event.preventDefault()
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value
        const noteId = event.target.dataset.noteId
        console.log(noteId)
        axios({
          method: 'post',
          url: `/notes/${noteId}/delete/`,
          headers: {
            'X-CSRFToken': csrfToken
          }
        }).then(response => {
          const note = document.querySelector(`#note-${noteId}`)
          const is_deleted = response.data.is_deleted

          if (is_deleted === true) {
            note.remove()
          }
        })
      })
    })

    const noteDeleteForms1 = document.querySelectorAll('.note-delete-forms1')
    noteDeleteForms1.forEach(form1 => {
      form1.addEventListener('submit', event => {
        event.preventDefault()
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value
        const noteId = event.target.dataset.noteId
        console.log(noteId)
        axios({
          method: 'post',
          url: `/notes/${noteId}/delete/`,
          headers: {
            'X-CSRFToken': csrfToken
          }
        }).then(response => {
          const note1 = document.querySelector(`#note1-${noteId}`)
          const is_deleted = response.data.is_deleted

          if (is_deleted === true) {
            note1.remove()
          }
        })
      })
    })
  </script>
{% endblock script %}