{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static 'css/notes.css' %}" type="text/css">
{% endblock link %}

{% block content%}
  <div class="container mt-5">
    <div class="row">
      <div class="col-3">
        <h4 class="text-center mb-4">✉️</h4>
        <table class="table">
          <thead>
          </thead>
          <tbody>
            <tr>
              <th scope="col"><a href="{% url 'notes:send' %}">쪽지 쓰기</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:index' %}">받은 쪽지함</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:sent' %}">보낸 쪽지함</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:important' %}">보관함</a></th>
            </tr>
            <tr>
              <th scope="row"><a href="{% url 'notes:trash' %}">휴지통</a></th>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-9" style="min-height: 700px;">
        <h4 class="text-center mb-4" style="font-family: 'HBIOS-SYS';">휴지통</h4>
        <table class="table bg-white">
          <thead>
            <tr>
              <th scope="col">보낸 사람</th>
              <th scope="col">제목</th>
              <th scope="col">받은 시간</th>
              <th scope="col">읽음</th>
              <th scope="col">복구</th>
              <th scope="col">삭제</th>
            </tr>
          </thead>
          <tbody>
            {% for note in notes %}
              <!-- 쪽지 읽음 일때 -->
              {% if note.read == 1 %}
                <tr class="text-muted" id="note-{{note.pk}}">
                  <td><a href="{% url 'accounts:profile' note.to_user.pk %}">{{ note.to_user.profile.nickname }}</a></td>
                  <td class="title">
                    <a class="text-muted" href="{% url 'notes:detail' note.pk %}">{{ note.title }}</a>
                  </td>
                  <td>{{ note.created_at|date:'m.d H:i' }}</td>
                  {% if note.read == 1 %}
                    <td>읽음</td>
                  {% else %}
                    <td class="not_read">안읽음</td>
                  {% endif %}
                    <td scope="row">
                      <a href="{% url 'notes:trash_return' note.pk %}">
                        <i class="bi bi-arrow-repeat"></i>
                      </a>
                    </td>
                  <td>
                    <form data-note-id="{{ note.pk }}" class="note-delete-forms">
                      {% csrf_token %}
                      <button type="submit" class="trash-btn" onclick="return confirm('삭제하시겠습니까?\n복구 불가능합니다.');">
                        <i class="bi bi-trash-fill"></i>
                      </button>
                    </form>
                  </td>
                </tr>
              {% else %}
                <!-- 쪽지 안읽음 일때-->
                <tr id="note-{{note.pk}}">
                  <td><a href="{% url 'accounts:profile' note.to_user.pk %}">{{ note.to_user.profile.nickname }}</a></td>
                  <td class="title">
                    <a href="{% url 'notes:detail' note.pk %}" class="fw-bold">{{ note.title }}</a>
                  </td>
                  <td>{{ note.created_at|date:'m.d H:i' }}</td>
                  {% if note.read == 1 %}
                    <td>읽음</td>
                  {% else %}
                    <td class="not_read">안읽음</td>
                  {% endif %}
                  <td>
                    <a href="{% url 'notes:trash_return' note.pk %}">
                      <i class="bi bi-arrow-repeat"></i>
                    </a>
                  </td>
                  <td>
                    <form data-note-id="{{ note.pk }}" class="note-delete-forms">
                      {% csrf_token %}
                      <button type="submit" class="trash-btn" onclick="return confirm('삭제하시겠습니까?\n복구 불가능합니다.');">
                        <i class="bi bi-trash-fill"></i>
                      </button>
                    </form>
                  </td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
        <!--페이지네이션-->
        <div class="paginator board_page mt-5">
          <!-- 맨 앞으로 -->
          <a href="?page=1" class="page-link bt first">
            <i class="bi bi-chevron-bar-left"></i>
          </a>
          <!-- 이전 페이지 -->
          {% if notes.has_previous %}
            <a class="page-link bt prev" href="?page={{ notes.previous_page_number }}">
              <i class="bi bi-chevron-left"></i>
            </a>
          {% else %}
            <a class="page-link bt prev" href="javascript:void(0)" tabindex='-1' aria-disabled='true'>
              <i class="bi bi-chevron-left"></i>
            </a>
          {% endif %}
          <!-- 페이지 리스트 -->
          {% comment %}  {% endcomment %}
          {% for page_number in notes.paginator.page_range %}
            {% if page_number >= notes.number|add:-3 and page_number <= notes.number|add:3 %}
              {% if page_number == notes.number %}
                <a class='page-link num on' href="?page={{ page_number }}">{{ page_number }}</a>
              {% else %}
                <a class='page-link num' href="?page={{ page_number }}">{{ page_number }}</a>
              {% endif %}
            {% endif %}
          {% endfor %}
          <!-- 다음 페이지 -->
          {% if notes.has_next %}
            <a class="page-link bt next" href="?page={{ notes.next_page_number }}">
              <i class="bi bi-chevron-right"></i>
            </a>
          {% else %}
            <a class="page-link bt next" href="javascript:void(0)" tabindex='-1' aria-disabled='true'>
              <i class="bi bi-chevron-right"></i>
            </a>
          {% endif %}
          <!-- 맨 뒤로 -->
          <a href="?page={{ max_index }}" class="page-link bt last">
            <i class="bi bi-chevron-bar-right"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block script %}
  <script>
    const noteDeleteForms = document.querySelectorAll('.note-delete-forms')
    noteDeleteForms.forEach(form => {
      form.addEventListener('submit', event => {
        event.preventDefault()
        const csrfToken = document.querySelector('[name=csrfmiddlewaretoken]').value
        const noteId = event.target.dataset.noteId
        console.log(noteId)
        axios({
          method: 'post',
          url: `/notes/${noteId}/delete/`,
          headers: {
            'X-CSRFToken': csrfToken
          }
        }).then(response => {
          const note = document.querySelector(`#note-${noteId}`)
          const is_deleted = response.data.is_deleted

          if (is_deleted === true) {
            note.remove()
          }
        })
      })
    })
  </script>
{% endblock script %}