{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block content %}
  <h1 class="text-center">설문조사</h1>

  {% comment %} <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form survey_form %}
    <input type="submit">
  </form> {% endcomment %}


  <form action="" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label class="form-label" for="id_start_age">Start age</label>
      <select name="start_age" class="form-select" required id="id_start_age">
        <option value="" selected>---------</option>
        <option value="10대">10대</option>
        <option value="20대">20대</option>
        <option value="30대">30대</option>
        <option value="40대">40대</option>
        <option value="50대">50대</option>
        <option value="60대">60대</option>
        <option value="70살 이상">70살 이상</option>
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="id_career">Career</label>
      <select name="career" class="form-select" required id="id_career">
        <option value="" selected>---------</option>
        <option value="1년 미만">1년 미만</option>
        <option value="1년 이상">1년 이상</option>
        <option value="2년 이상">2년 이상</option>
        <option value="3년 이상">3년 이상</option>
        <option value="4년 이상">4년 이상</option>
        <option value="5년 이상">5년 이상</option>
        <option value="시니어">시니어</option>
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="id_developer_type">Developer type</label>
      <select name="developer_type" class="form-select" required id="id_developer_type">
        <option value="" selected>---------</option>
        <option value="풀스택 개발자">풀스택 개발자</option>
        <option value="백엔드 개발자">백엔드 개발자</option>
        <option value="프론트엔드 개발자">프론트엔드 개발자</option>
        <option value="기타">기타</option>
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="id_desired_language">Desired language</label>
      <select name="desired_language" class="form-select" required id="id_desired_language">
        <option value="" selected>---------</option>
        <option value="Python">Python</option>
        <option value="C">C</option>
        <option value="Java">Java</option>
        <option value="JavaScript">JavaScript</option>
        <option value="HTML/CSS">HTML/CSS</option>
        <option value="기타">기타</option>
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="id_most_using_language">Most using language</label>
      <select name="most_using_language" class="form-select" required id="id_most_using_language">
        <option value="" selected>---------</option>
        <option value="Python">Python</option>
        <option value="C">C</option>
        <option value="Java">Java</option>
        <option value="JavaScript">JavaScript</option>
        <option value="HTML/CSS">HTML/CSS</option>
        <option value="기타">기타</option>
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="id_how_to_learn">How to learn</label>
      <select name="how_to_learn" class="form-select" required id="id_how_to_learn">
        <option value="" selected>---------</option>
        <option value="학교">학교</option>
        <option value="책">책</option>
        <option value="코딩 부트캠프">코딩 부트캠프</option>
        <option value="온라인 강의">온라인 강의</option>
        <option value="기타 자료 (동영상, 블로그 등)">기타 자료 (동영상, 블로그 등)</option>
        <option value="기타">기타</option>
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="id_daily_learning_hours">Daily learning hours</label>
      <select name="daily_learning_hours" class="form-select" required="" id="id_daily_learning_hours">
        <option value="" selected="">---------</option>
        <option value="1시간 미만">1시간 미만</option>
        <option value="1시간 이상 3시간 미만">1시간 이상 3시간 미만</option>
        <option value="3시간 이상 5시간 미만">3시간 이상 5시간 미만</option>
        <option value="5시간 이상 10시간 미만">5시간 이상 10시간 미만</option>
        <option value="10시간 이상">10시간 이상</option>
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="id_education">Education</label>
      <select name="education" class="form-select" required="" id="id_education">
        <option value="" selected="">---------</option>
        <option value="중졸 이하">중졸 이하</option>
        <option value="고졸">고졸</option>
        <option value="전문대졸">전문대졸</option>
        <option value="대졸 이상">대졸 이상</option>
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="id_degree">Degree</label>
      <select name="degree" class="form-select" required="" id="id_degree">
        <option value="" selected="">---------</option>
        <option value="없음">없음</option>
        <option value="전문학사">전문학사</option>
        <option value="학사">학사</option>
        <option value="석사">석사</option>
        <option value="박사">박사</option>
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="id_gender">Gender</label>
      <select name="gender" class="form-select" required id="id_gender">
        <option value="" selected>---------</option>
        <option value="여성">여성</option>
        <option value="남성">남성</option>
        <option value="제3의 성">제3의 성</option>
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="id_mbti">Mbti</label>
      <select name="mbti" class="form-select" id="id_mbti">
        <option value="" selected="">---------</option>
        <option value="ISTJ">ISTJ</option>
        <option value="ISFJ">ISFJ</option>
        <option value="INFJ">INFJ</option>
        <option value="INTJ">INTJ</option>
        <option value="ISTP">ISTP</option>
        <option value="ISFP">ISFP</option>
        <option value="INFP">INFP</option>
        <option value="INTP">INTP</option>
        <option value="ESTJ">ESTJ</option>
        <option value="ESFJ">ESFJ</option>
        <option value="ENFJ">ENFJ</option>
        <option value="ENTJ">ENTJ</option>
        <option value="ESTP">ESTP</option>
        <option value="ESFP">ESFP</option>
        <option value="ENFP">ENFP</option>
        <option value="ENTP">ENTP</option>
      </select>
    </div>

    <input type="submit">
  </form>
{% endblock content %}