{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %} 
{% block link %}
<link rel="stylesheet" href="{% static 'css/servey.css' %}">
<script defer src="{% static 'js/servey.js' %}"></script>
{% endblock link %}
{% block content %}
  <h1 class="text-center">설문조사</h1>

  {% comment %} <form action="" method="POST">
    {% csrf_token %}
    {% bootstrap_form survey_form %}
    <input type="submit">
  </form> {% endcomment %}
<div class="main">

  <form action="" method="POST">
    {% csrf_token %}
    <label style='margin-bottom:5px;' for="id_start_age">처음 코딩을 시작한 나이 <img class='check1'  src="{% static 'images/check-icon.png' %}" alt="" width='24px;'></label>
    <div class="dropdown1">
      <input type="text" class="text01" name="start_age" required readonly id="id_start_age" placeholder="-----">
       <div class="option1">
         <div onclick="show1('10대')">10대</div>
         <div onclick="show1('20대')">20대</div>
         <div onclick="show1('30대')">30대</div>
         <div onclick="show1('40대')">40대</div>
        </div>
      </input>
    </div>
    
    <label class="form-label" for="id_career">개발 경력 <img class='check2'  src="{% static 'images/check-icon.png' %}" alt="" width='24px;'></label>
    <div class="dropdown2">
      <input name="career" type="text" class="text02" readonly required id="id_career" placeholder="-----">
      <div class="option2">
        <div onclick="show2('1년 미만')">1년 미만</div>
        <div onclick="show2('1년 이상')">1년 이상</div>
        <div onclick="show2('2년 이상')">2년 이상</div>
        <div onclick="show2('3년 이상')">3년 이상</div>
        <div onclick="show2('4년 이상')">4년 이상</div>
        <div onclick="show2('5년 이상')">5년 이상</div>
        <div onclick="show2('시니어')">시니어</div>
      </div>
      </input>
    </div>

    <label class="form-label" for="id_developer_type">개발 분야 <img class='check3'  src="{% static 'images/check-icon.png' %}" alt="" width='24px;'></label>
    <div class="dropdown3">
      <input name="developer_type" class="text03" readonly required id="id_developer_type" placeholder="-----">
      <div class="option3">
        <div onclick="show3('')">풀스택 개발자</div>
        <div onclick="show3('백엔드 개발자')">백엔드 개발자</div>
        <div onclick="show3('프론트엔드 개발자')">프론트엔드 개발자</div>
        <div onclick="show3('기타')">기타</div>
      </div> 
      </input>
    </div>
    

    <label class="form-label" for="id_desired_language">배우고 싶은 언어 <img class='check4'  src="{% static 'images/check-icon.png' %}" alt="" width='24px;'></label>
    <div class="dropdown4">
      <input name="desired_language" class="text04" readonly required id="id_desired_language" placeholder="-----">
      <div class="option4">
        <div onclick="show4('Python')">Python</div>
        <div onclick="show4('C')">C</div>
        <div onclick="show4('Java')">Java</div>
        <div onclick="show4('JavaScript')">JavaScript</div>
        <div onclick="show4('HTML/CSS')">HTML/CSS</div>
        <div onclick="show4('기타')">기타</div>
      </div>  
      </input>
    </div>

    {% comment %} 5 {% endcomment %}
    
    <label class="form-label" for="id_most_using_language">가장 많이 사용하는 언어 <img class='check4'  src="{% static 'images/check-icon.png' %}" alt="" width='24px;'></label>
    <div class="dropdown5">
      <input name="most_using_language" class="text05" required id="id_most_using_language">
      <div class="option5">
        <div onclick="show5('Python')">Python</div>
        <div onclick="show5('C')">C</div>
        <div onclick="show5('Java')">Java</div>
        <div onclick="show5('JavaScript')">JavaScript</div>
        <div onclick="show5('HTML/CSS')">HTML/CSS</div>
        <div onclick="show5('기타')">기타</div>
      </div>  
      </input>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="id_how_to_learn">코딩을 배운 방법</label>
      <select name="how_to_learn" class="form-select" required id="id_how_to_learn">
        <option value="" selected>---------</option>
        <option value="학교">학교</option>
        <option value="책">책</option>
        <option value="코딩 부트캠프">코딩 부트캠프</option>
        <option value="온라인 강의">온라인 강의</option>
        <option value="기타 자료 (동영상, 블로그 등)">기타 자료 (동영상, 블로그 등)</option>
        <option value="기타">기타</option>
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="id_daily_learning_hours">하루 평균 코딩시간</label>
      <select name="daily_learning_hours" class="form-select" required="" id="id_daily_learning_hours">
        <option value="" selected="">---------</option>
        <option value="1시간 미만">1시간 미만</option>
        <option value="1시간 이상 3시간 미만">1시간 이상 3시간 미만</option>
        <option value="3시간 이상 5시간 미만">3시간 이상 5시간 미만</option>
        <option value="5시간 이상 10시간 미만">5시간 이상 10시간 미만</option>
        <option value="10시간 이상">10시간 이상</option>
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="id_degree">최종학력</label>
      <select name="degree" class="form-select" required="" id="id_degree">
        <option value="고졸">고졸</option>
        <option value="전문학사">전문학사</option>
        <option value="학사">학사</option>
        <option value="석사">석사</option>
        <option value="박사">박사</option>
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="id_gender">성별</label>
      <select name="gender" class="form-select" required id="id_gender">
        <option value="여성">여성</option>
        <option value="남성">남성</option>
        <option value="제3의 성">제3의 성</option>
      </select>
    </div>
    
    <div class="mb-3">
      <label class="form-label" for="id_mbti">Mbti</label>
      <select name="mbti" class="form-select" id="id_mbti">
        <option value="ISTJ">ISTJ</option>
        <option value="ISTP">ISTP</option>
        <option value="ISFP">ISFP</option>
        <option value="ISFJ">ISFJ</option>
        <option value="INTJ">INTJ</option>
        <option value="INTP">INTP</option>
        <option value="INFJ">INFJ</option>
        <option value="INFP">INFP</option>
        <option value="ESTJ">ESTJ</option>
        <option value="ESTP">ESTP</option>
        <option value="ESFJ">ESFJ</option>
        <option value="ESFP">ESFP</option>
        <option value="ENTJ">ENTJ</option>
        <option value="ENTP">ENTP</option>
        <option value="ENFJ">ENFJ</option>
        <option value="ENFP">ENFP</option>
      </select>
    </div>

    <input type="submit">
  </form>
</div>

{% endblock content %}