{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %} 
{% block link %}
<link rel="stylesheet" href="{% static 'css/servey.css' %}">
<script defer src="{% static 'js/servey.js' %}"></script>
{% endblock link %}
{% block content %}
<div class='mt-5 mb-3'>
<h1 class="text-center" style="font-family: 'HBIOS-SYS'; font-size: calc(1rem + 1.5vw);">2022 KDT 1기 개발자 설문조사</h1>
</div>

<div class="main">

  <form action="" method="POST">
    {% csrf_token %}
    <div class='Qbox'>
      <label class='Label' for="id_mbti">MBTI <img class='check10' src="{% static 'images/check-icon.png' %}" alt="" width='24px;'></label>
      <div class="dropdown10">
        <input name="mbti" class="text10" readonly required placeholder="-----">
          <div class="option10">
            <div class='Q10' onclick="show10('ISTJ')">ISTJ</div>
            <div class='Q10' onclick="show10('ISTP')">ISTP</div>
            <div class='Q10' onclick="show10('ISFP')">ISFP</div>
            <div class='Q10' onclick="show10('ISFJ')">ISFJ</div>
            <div class='Q10' onclick="show10('INTJ')">INTJ</div>
            <div class='Q10' onclick="show10('INTP')">INTP</div>
            <div class='Q10' onclick="show10('INFJ')">INFJ</div>
            <div class='Q10' onclick="show10('INFP')">INFP</div>
            <div class='Q10' onclick="show10('ESTJ')">ESTJ</div>
            <div class='Q10' onclick="show10('ESTP')">ESTP</div>
            <div class='Q10' onclick="show10('ESFJ')">ESFJ</div>
            <div class='Q10' onclick="show10('ESFP')">ESFP</div>
            <div class='Q10' onclick="show10('ENTJ')">ENTJ</div>
            <div class='Q10' onclick="show10('ENTP')">ENTP</div>
            <div class='Q10' onclick="show10('ENFJ')">ENFJ</div>
            <div class='Q10' onclick="show10('ENFP')">ENFP</div>
          </div>
        </input>
      </div>
    </div>

    <div class='Qbox'>
      <label class='Label' for="id_start_age">처음 코딩을 시작한 나이 <img class='check1'  src="{% static 'images/check-icon.png' %}" alt="" width='24px;'></label>
      <div class="dropdown1">
        <input type="text" class="text01" name="start_age" required readonly id="id_start_age" placeholder="-----">
          <div class="option1">
            <div class='Q1' onclick="show1('10대')">10대</div>
            <div class='Q1' onclick="show1('20대')">20대</div>
            <div class='Q1' onclick="show1('30대')">30대</div>
            <div class='Q1' onclick="show1('40대')">40대</div>
          </div>
        </input>
      </div>
    </div>
    
    <div class='Qbox'>
      <label class='Label' for="id_career">개발 경력 <img class='check2'  src="{% static 'images/check-icon.png' %}" alt="" width='24px;'></label>
      <div class="dropdown2">
        <input name="career" type="text" class="text02" readonly required id="id_career" placeholder="-----">
          <div class="option2">
            <div class='Q2' onclick="show2('1년 미만')">1년 미만</div>
            <div class='Q2' onclick="show2('1년 이상')">1년 이상</div>
            <div class='Q2' onclick="show2('2년 이상')">2년 이상</div>
            <div class='Q2' onclick="show2('2년 이상')">2년 이상</div>
            <div class='Q2' onclick="show2('3년 이상')">3년 이상</div>
            <div class='Q2' onclick="show2('4년 이상')">4년 이상</div>
            <div class='Q2' onclick="show2('5년 이상')">5년 이상</div>
            <div class='Q2' onclick="show2('시니어')">시니어</div>
          </div>
        </input>
      </div>
    </div>

    <div class='Qbox'>
      <label class='Label' for="id_developer_type">개발 분야 <img class='check3'  src="{% static 'images/check-icon.png' %}" alt="" width='24px;'></label>
      <div class="dropdown3">
        <input name="developer_type" class="text03" readonly required id="id_developer_type" placeholder="-----">
          <div class="option3">
            <div class='Q3' onclick="show3('풀스택')">풀스택</div>
            <div class='Q3' onclick="show3('백엔드')">백엔드</div>
            <div class='Q3' onclick="show3('프론트엔드')">프론트엔드</div>
            <div class='Q3' onclick="show3('기타')">기타</div>
          </div> 
        </input>
      </div>
    </div>
  
    <div class='Qbox'>
      <label class='Label' for="id_desired_language">배우고 싶은 언어 <img class='check4'  src="{% static 'images/check-icon.png' %}" alt="" width='24px;'></label>
      <div class="dropdown4">
        <input name="desired_language" class="text04" readonly required id="id_desired_language" placeholder="-----">
          <div class="option4">
            <div class='Q4' onclick="show4('Python')">Python</div>
            <div class='Q4' onclick="show4('C')">C</div>
            <div class='Q4' onclick="show4('Java')">Java</div>
            <div class='Q4' onclick="show4('JavaScript')">JavaScript</div>
            <div class='Q4' onclick="show4('HTML/CSS')">HTML/CSS</div>
            <div class='Q4' onclick="show4('기타')">기타</div>
          </div>  
        </input>
      </div>
    </div>
  
    <div class='Qbox'> 
      <label class='Label' for="id_most_using_language">가장 많이 사용하는 언어 <img class='check5' src="{% static 'images/check-icon.png' %}" alt="" width='24px;'></label>
      <div class="dropdown5">
        <input name="most_using_language" class="text05" readonly required placeholder="-----">
          <div class="option5">
            <div class='Q5' onclick="show5('Python')">Python</div>
            <div class='Q5' onclick="show5('C')">C</div>
            <div class='Q5' onclick="show5('Java')">Java</div>
            <div class='Q5' onclick="show5('JavaScript')">JavaScript</div>
            <div class='Q5' onclick="show5('HTML/CSS')">HTML/CSS</div>
            <div class='Q5' onclick="show5('기타')">기타</div>
          </div>  
        </input>
      </div>
    </div>
    
    <div class='Qbox'>
      <label class='Label' for="id_how_to_learn">코딩을 배운 방법 <img class='check6' src="{% static 'images/check-icon.png' %}" alt="" width='24px;'></label>
      <div class="dropdown6">
        <input name="how_to_learn" class="text06" readonly required placeholder="-----">
          <div class="option6">
            <div class='Q6' onclick="show6('학교')">학교</div>
            <div class='Q6' onclick="show6('책')">책</div>
            <div class='Q6' onclick="show6('부트캠프')">부트캠프</div>
            <div class='Q6' onclick="show6('온라인 강의')">온라인 강의</div>
            <div class='Q6' onclick="show6('기타')">기타</div>
          </div>
        </input>
      </div>
    </div>

    {% comment %} 7 {% endcomment %}
    <div class='Qbox'>
      <label class='Label' for="id_daily_learning_hours">하루 평균 코딩시간 <img class='check7' src="{% static 'images/check-icon.png' %}" alt="" width='24px;'></label>
      <div class="dropdown7">
        <input name="daily_learning_hours" class="text07" readonly required placeholder="-----">
          <div class="option7">
            <div class='Q7' onclick="show7('1시간 이상')">1시간 이상</div>
            <div class='Q7' onclick="show7('2시간 이상')">2시간 이상</div>
            <div class='Q7' onclick="show7('3시간 이상')">3시간 이상</div>
            <div class='Q7' onclick="show7('5시간 이상')">5시간 이상</div>
            <div class='Q7' onclick="show7('10시간 이상')">10시간 이상</div>
          </div>
        </input>
      </div>
    </div>
    
    {% comment %} 8 {% endcomment %}
    <div class='Qbox'>
      <label class='Label' for="id_degree">최종학력 <img class='check8' src="{% static 'images/check-icon.png' %}" alt="" width='24px;'></label>
      <div class="dropdown8">
        <input name="degree" class="text08" readonly required placeholder="-----">
          <div class="option8">
            <div class='Q8' onclick="show8('고졸')">고졸</div>
            <div class='Q8' onclick="show8('전문학사')">전문학사</div>
            <div class='Q8' onclick="show8('학사')">학사</div>
            <div class='Q8' onclick="show8('석사')">석사</div>
            <div class='Q8' onclick="show8('박사')">박사</div>
          </div>  
        </input>
      </div>
    </div>
  
    {% comment %} 9 {% endcomment %}
    <div class='Qbox'>
      <label class='Label' for="id_gender">성별 <img class='check9' src="{% static 'images/check-icon.png' %}" alt="" width='24px;'></label>
      <div class="dropdown9">
        <input name="gender" class="text09" readonly required placeholder="-----">
          <div class="option9">
            <div class='Q9' onclick="show9('여성')">여성</div>
            <div class='Q9' onclick="show9('남성')">남성</div>
            <div class='Q9' onclick="show9('제3의 성')">제3의 성</div>
          </div>
        </input>
      </div>
    </div>

    {% comment %} 10 {% endcomment %}
      
    <div class='btnBox mt-3 mb-5'>
      <input id='svbtn' type="submit">
    </div>
  </form>
</div>

{% endblock content %}