{% extends 'base.html' %}
{% load static %}
{% load django_bootstrap5 %}
{% load widget_tweaks %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/board_create.css' %}" type="text/css">
{% endblock link %}

{% block content %}
  <div class='container py-5'>
    {% if request.resolver_match.url_name == 'create' %}
      <h1 class='mx-3 mb-4' style="font-family: 'HBIOS-SYS';">글쓰기</h1>
    {% else %}
      <h1 class='mx-3 mb-4' style="font-family: 'HBIOS-SYS';">수정하기</h1>
    {% endif %}
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}

      <!--폼-->
      <div class="board_write">
        <div class="title">
          <dl>
            <dt>제목</dt>
            <dd><input type="text" name="title" value="{{ articles.title }}" placeholder="제목 입력"></dd>
          </dl>
        </div>
        <div class="category">
          <dl class='d-flex align-items-center'>
            <dt>카테고리</dt>
            <dd>{{ article_form.category|add_class:'form-select' }}</dd>
          </dl>
        </div>
        <div class="image">
          <dl class='d-flex align-items-center'>
            <dt>이미지</dt>
            <dd>{{ image_form.image|add_class:'form-control' }}</dd>
          </dl>
        </div>
        <div class="cont text-break">
          {{ article_form.content }}
        </div>
        <br>
      </div>
      <!-- 버튼 -->
      <div class="container text-center bt_wrap">
        {% if request.resolver_match.url_name == 'update' %}
          <button type="submit" class="px-4 on">수정</button>
          <a class='px-4' href="{% url 'articles:detail' articles.pk %}">뒤로가기</a>
        {% elif request.resolver_match.url_name == 'create' %}
          <button type="submit" class="px-4 on">등록</button>
          <a class='px-4' href="{% url 'articles:index' %}">목록으로</a>
        {% endif %}
      </div>
    </form>
  </div>
{% endblock content %}