{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load mathfilters %}

{% block content %}
  <h1>detail</h1>
  <p>{{ articles.title }}</p>
  <p>{{ articles.content }}</p>

  <!-- 사진 -->
  {% for image in articles.image_set.all %}
    <img style="object-fit: cover; height: 480px;" src="{{ image.image.url }}" class="d-block mx-auto" alt="{{ image.image }}">
    <br>
  {% endfor %}

  {% if request.user == articles.user %}
    <form action="" method="POST">
      {% csrf_token %}
      <a href="{% url 'articles:delete' articles.pk %}" class="btn btn-outline-secondary">삭제</a>
      <a href="{% url 'articles:update' articles.pk %}" class="btn btn-outline-secondary">수정</a>
      <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary">뒤로</a>
    </form>
  {% endif %}
  {% if request.user.is_authenticated %}
    <form id="comment-form" data-article-id="{{ articles.pk }}" method="POST">
      {% csrf_token %}
      {{ comment_form.as_table }}
      <input type="submit" value="글쓰기" id="content-{{ articles.pk }}">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}" class="btn btn-outline-secondary">로그인</a>
  {% endif %}
  <!-- 댓글 -->
  <div id="box"></div>
  {% for comment in comments.all %}
    <p>{{ comment.content }}</p>
    {% if request.user == comment.user %}
      <form action="{% url 'articles:comments_delete' articles.pk comment.pk %}" method="POST">
        {% csrf_token %}
        <input type="submit" value="DELETE">
      </form>
    {% endif %}
  {% endfor %}
{% endblock content %}
{% block script %}
  <script>
    const commentForm = document.querySelector("#comment-form")
    const csrftoken = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value
      commentForm
      .addEventListener('submit', function (event) {
        event.preventDefault()
        axios({
          method: 'post',
          url: `/articles/${event.target.dataset.articleId}/comments_create/`,
          headers: {
            'X-CSRFToken': csrftoken
          },
          data: new FormData(commentForm)
        })
          .then(response => {
            console.log(response.data)
            const comments = document.querySelector(`#box`)
            const p = document.createElement('p')
            p.innerText = `${response
              .data
              .userName} | ${response
              .data
              .content}`
              comments
              .append(p)
            console.log(comments)
            commentForm.reset()
          })
          .catch((error) => {
            console.log(error)
          })
        })
  </script>
{% endblock script %}
