{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load mathfilters %}

{% block content %}
  <h1>detail</h1>
  <p>{{ articles.title }}</p>
  <p>{{ articles.content }}</p>
  <div>
    <form class="like-froms" data-article-id="{{ articles.pk }}" method="POST">
      {% csrf_token %}
      {% if request.user in article.like.all %}
        <input type="submit" value="좋아요 취소" id="like-{{ articles.pk }}">
      {% else %}
        <input type="submit" value="좋아요" id="like-{{ articles.pk }}">
      {% endif %}
    </form>
  </div>
  <!-- 사진 -->
  {% for image in articles.image_set.all %}
    <img style="object-fit: cover; height: 480px;" src="{{ image.image.url }}" class="d-block mx-auto" alt="{{ image.image }}">
    <br>
  {% endfor %}

  {% if request.user == articles.user %}
    <form action="" method="POST">
      {% csrf_token %}
      <a href="{% url 'articles:delete' articles.pk %}" class="btn btn-outline-secondary">삭제</a>
      <a href="{% url 'articles:update' articles.pk %}" class="btn btn-outline-secondary">수정</a>
      <a href="{% url 'articles:index' %}" class="btn btn-outline-secondary">뒤로</a>
    </form>
  {% endif %}
  <!-- 댓글생성 -->
  {% if request.user.is_authenticated %}
    <form id="comment-form" data-article-id="{{ articles.pk }}" method="POST" onsubmit="event.preventDefault(); create_comment(this, '{{articles.pk}}')">
      <!-- create_comment:함수명 -->
      {% csrf_token %}
      {% bootstrap_form comment_form %}
      <input type="submit" value="글쓰기" id="content-{{ articles.pk }}">
    </form>
  {% else %}
    <a href="{% url 'accounts:login' %}" class="btn btn-outline-secondary">로그인</a>
  {% endif %}
  <!-- 댓글 목록 삭제-->
  <div id="box">
    {% for comment in comments.all %}
      {% if request.user == comment.user %}
        <div id="article-{{comment.pk}}">
          <p>{{ comment.content }}</p>
          <form method="POST" id="comment_delete-{{comment.pk}}" onsubmit="event.preventDefault(); delete_comment(this, '{{articles.pk}}', '{{comment.pk}}')">
            {% csrf_token %}
            <input type="submit" value="delete">
          </form>
        </div>
      {% endif %}
    {% endfor %}
  </div>
{% endblock content %}
{% block script %}
  <script>
    //댓글 비동기 생성
    function create_comment(form, article_pk) { //form:html form태그
      console.log(form)
      const csrftoken = document
        .querySelector('[name=csrfmiddlewaretoken]')
        .value
        axios({
          method: 'post',
          url: `/articles/${article_pk}/comments_create/`,
          headers: {
            'X-CSRFToken': csrftoken
          },
          data: new FormData(form) //form:html form태그
        })
        .then(response => {
          const pk = response.data.pk
          const comment_content = response.data.content
          const userName = response.data.userName

          const commentbox = document.querySelector('#box')
          commentbox.insertAdjacentHTML('beforeend', `
            <div id="article-${pk}">
                <p>${userName} | ${comment_content}</p>
                <form id="comment_delete-${pk}" onsubmit="event.preventDefault(); delete_comment(this, '${article_pk}', '${pk}')">
                    <input type="submit" class="btn-close" style="color:transparent;">
                </form>
            </div>
        `)
          form.reset() //form:html form태그
        })
        .catch(error => {
          console.log(error)
        })
      }

    //댓글 비동기 삭제
    function delete_comment(form, article_pk, comment_pk) {
      const csrftoken = document
        .querySelector('[name=csrfmiddlewaretoken]')
        .value

        axios({
          method: 'post',
          url: `/articles/${article_pk}/comments_create/${comment_pk}/delete/`,
          headers: {
            'X-CSRFToken': csrftoken
          }
        })
        .then(response => {
          const comment = document.querySelector(`#article-${comment_pk}`)
          console.log(response.data.is_deleted)
          comment.remove()
        })
    }

    const form = document.querySelector('.like-froms')
    const csrftoken = document
      .querySelector('[name=csrfmiddlewaretoken]')
      .value
      form
      .addEventListener('submit', function (event) {
        event.preventDefault()
        const articleId = event
          .target
          .dataset
          .articleId
          console
          .log(form)
        axios({
          method: 'post',
          url: `/articles/${articleId}/likes/`,
          headers: {
            'X-CSRFToken': csrftoken
          }
        })
          .then((response) => {
            const isLiked = response.data.is_liked
            const likeBtn = document.querySelector(`#like-${articleId}`)
            if (isLiked === true) {
              likeBtn.value = "좋아요 취소"
            } else {
              likeBtn.value = "좋아요"
            }
          })
          .catch((error) => {
            console.log(error.response)
          })
        })
  </script>
{% endblock script %}
