{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load mathfilters %}
{% load filter %} <!-- 마크다운 -->
{% load static %}
{% block link %}
  <link rel="stylesheet" href="{% static 'css/board_detail.css' %}" type="text/css">
  <script defer src="{% static 'js/board_detail.js' %}"></script>
{% endblock link %}

{% block content %} 
  <div class='container py-5'>
    <div class="board_view">
      <!-- 작성자 -->
      <div class="writer">
        <div class='writer_profile'>
          <a class='d-flex' href="{% url 'accounts:profile' articles.user.pk %}">
            {% if articles.user.profile.image|slugify|slice:'0:4' == 'http' %}
            <!-- 깃허브에서 가져온 이미지: https로 시작 -->
              <img class='writer_img' src="{{ articles.user.profile.image }}">
            {% elif articles.user.profile.image %}
              <!-- 파일로 추가한 이미지 /media/ -->
              <img class='writer_img' src="{{ articles.user.profile.image.url }}">
            {% else %}
              <img class='writer_img' src="{% static 'images/no-avatar.jpg' %}">
            {% endif %}
            <div>
              <div class='mb-1'>{{ articles.user.profile.nickname }}</div>
              <div>
                {% if articles.user.profile.language == 'Python' %}
                  <img src="https://img.shields.io/badge/Python-3776AB?style=flat&logo=Python&logoColor=ffffff">
                {% elif articles.user.profile.language == 'Java' %}
                  <img src="https://img.shields.io/badge/java-007396?style=flat&logo=java&logoColor=white">
                {% elif articles.user.profile.language == 'C' %}
                  <img src="https://img.shields.io/badge/C-A8B9CC?style=flat&logo=C&logoColor=white">
                {% elif user.profile.language == 'JavaScript' %}
                  <img src="https://img.shields.io/badge/javascript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black">
                {% elif user.profile.language == 'C++' %}
                  <img src="https://img.shields.io/badge/c++-00599C?style=for-the-badge&logo=c%2B%2B&logoColor=white">
                {% elif user.profile.language == 'PHP' %}
                  <img src="https://img.shields.io/badge/php-777BB4?style=for-the-badge&logo=php&logoColor=white">
                {% endif %}
              </div>
            </div>
          </a>
        </div>
      </div>

      <!-- 제목 작성일 -->
      <div class="info">
        <p class='category' style='text-align: start;'>{{ articles.category }}</p>
        <div class='title'>{{ articles.title }}</div>
        <p>{{ articles.create_at|date:'Y-m-d H:i' }}</p>
        <p>조회수 : {{ articles.hits }}</p>
        <p><span class="button gray medium"><a href="#" onclick="clip(); return false;">URL주소복사</a></span></p>
      </div>
      
      <!-- 사진 -->
      <div>
      {% for image in articles.image_set.all %}
      <div class="thwrap">
        <img  src="{{ image.image.url }}" alt="{{ image.image }}">
      </div>
      {% endfor %}
      </div>
      <!-- 내용 -->
      <div class="cont text-break" style="white-space: pre-line">
        {{ articles.content|mark }}
      </div>

      <!-- 글 작성자인 경우 삭제, 수정, 뒤로가기 -->
      {% if request.user == articles.user %}
        <!-- 삭제, 수정, 뒤로가기 버튼들 -->
        <form action="" method="POST">
          {% csrf_token %}
          <div class="bt_wrap pb-5">
            <button disabled>
              <i class="bi bi-heart-fill my-2" style="font-style: normal; height: 45px; color: #ff0000;">
                <span class="ms-1">{{ articles.like.count }}</span>
              </i>
            </button>
            <a href="{% url 'articles:delete' articles.pk %}" class="on">삭제</a>
            <a href="{% url 'articles:update' articles.pk %}" class="on">수정</a>
            <a href="{% url 'articles:index' %}" class="on">뒤로</a>
          </div>
        </form>
      <!-- 글 작성자가 아닌 경우 좋아요 -->
      {% else %}
        <!-- 좋아요 버튼 -->
        <div class='bt_wrap d-flex justify-content-center pb-5'>
          {% if request.user.is_authenticated %}
          <form class="like-forms" data-article-id="{{ articles.pk }}" method="POST">
            {% csrf_token %}
            {% if request.user in articles.like.all %}
              {% comment %} <input type="submit" value="좋아요취소❌" id="like-{{ articles.pk }}"> {% endcomment %}
              <button type="submit" id="like-{{ articles.pk }}">
                <i id="heart-{{ articles.pk }}" class="bi bi-heart-fill my-2" style="font-style: normal; height: 45px; color: #ff0000;"></i>
                <span class="ms-1" id="like-count-{{ articles.pk }}">{{ articles.like.count }}</span>
              </button>
            {% else %}
              {% comment %} <input type="submit" value="좋아요🧡" id="like-{{ articles.pk }}"> {% endcomment %}
              <button type="submit" id="like-{{ articles.pk }}">
                <i id="heart-{{ articles.pk }}" class="bi bi-heart my-2" style="font-style: normal; height: 45px; color: #ff0000;">
                  <span class="ms-1" id="like-count-{{ articles.pk }}">{{ articles.like.count }}</span>
                </i>
              </button>
            {% endif %}
          </form>
          {% else %}
          <button disabled>
            <i class="bi bi-heart-fill my-2" style="font-style: normal; height: 45px; color: #ff0000;">
              <span class="ms-1">{{ articles.like.count }}</span>
            </i>
          </button>
          {% endif %}
          <a href="{% url 'articles:index' %}" class="on">뒤로가기</a>
        </div>
      {% endif %}
    </div>
    
    <br>
    
    <!-- 댓글생성 -->
    <details class='mb-5 mx-3'>
      <summary>댓글달기</summary>
      {% comment %} 로그인 안 했으면 제출 버튼을 disabled 해도 되고 {% endcomment %}
      {% if request.user.is_authenticated %}
        <form id="comment-form" data-article-id="{{ articles.pk }}" method="POST" onsubmit="event.preventDefault(); create_comment(this, '{{articles.pk}}')">
          <!-- create_comment:함수명 -->
          {% csrf_token %}
          <div class='d-flex justify-content-center mt-2' style='height: 120px;'>
            <textarea name="content" required id='id_content' class="input_com me-3 px-2" cols="30" rows="10" ></textarea>
            <button class='bbtn_com text-break' type="submit" id="content-{{ articles.pk }}">댓글 쓰기</button>
          </div>
        </form>
      {% else %}
        <div class='my-4 ms-2'>
          <a class="speech-bubble" href="{% url 'accounts:login' %}">댓글 이용은 로그인이 필요합니다🧡</a>  
        </div>
      {% endif %}
    </details>
    

    <!-- 댓글 목록 삭제-->
    <!-- 회원이라면 보여주고 -->
      <div id="box">
        {% for comment in comments.all %}
          <div class='comment_box position-relative my-3 mx-5' id="article-{{comment.pk}}">
            <div class='d-flex comment_writer'>
              <a href="{% url 'accounts:profile' comment.user.pk %}">
                {% if comment.user.profile.image|slugify|slice:'0:4' == 'http' %}
                <!-- 깃허브에서 가져온 이미지: https로 시작 -->
                  <img class='writer_img' src="{{ comment.user.profile.image }}">
                {% elif comment.user.profile.image %}
                  <!-- 파일로 추가한 이미지 /media/ -->
                  <img class='writer_img' src="{{ comment.user.profile.image.url }}">
                {% else %}
                  <img class='writer_img' src="{% static 'images/no-avatar.jpg' %}">
                {% endif %}
              </a>
              <a href="{% url 'accounts:profile' comment.user.pk %}" >
                <div class='mx-3'>{{ comment.user.profile.nickname }}</div>
              </a>
            </div>

            <div class='m-3 pe-3 text-break'>{{ comment.content|mark }}</div>

            <!-- 댓글 작성한 당사자만 삭제할 수 있게 -->
            {% if request.user == comment.user %}
              <form method="POST" id="comment_delete-{{comment.pk}}" onsubmit="event.preventDefault(); delete_comment(this, '{{articles.pk}}', '{{comment.pk}}')">
                {% csrf_token %}
                <input type="submit" class="btn-close position-absolute top-0 end-0 m-3" style="color:transparent;">
              </form>
            {% endif %}
          </div>
        {% endfor %}
      </div>
  </div>
{% endblock content %}

{% block script %}
  <script>
    //댓글 비동기 생성
    function create_comment(form, article_pk) { //form:html form태그
      console.log(form)
      const csrftoken = document
        .querySelector('[name=csrfmiddlewaretoken]')
        .value
        axios({
          method: 'post',
          url: `/articles/${article_pk}/comments_create/`,
          headers: {
            'X-CSRFToken': csrftoken
          },
          data: new FormData(form) //form:html form태그
        })
        .then(response => {
          const pk = response.data.pk
          const comment_content = response.data.content
          const userName = response.data.userName
          const userPk = response.data.userPk
          const commentUserImage = response.data.commentUserImage

          const commentbox = document.querySelector('#box')
          commentbox.insertAdjacentHTML('beforeend', `
            <div id="article-${pk}">  
              <div class='comment_box position-relative my-3 mx-5'> 
                <div class='d-flex comment_writer'> 
                  <a href="/accounts/${userPk}/">       
                    <img class='writer_img' src="${commentUserImage}">
                  </a>
                  <a href="/accounts/${userPk}/">       
                    <div class='mx-3'>${userName}</div>
                  </a>
                </div> 
                <p class='bubble-comment m-3'>${comment_content}</p>
                <!-- 댓글 작성한 당사자만 삭제할 수 있게 -->
                <form method="POST" id="comment_delete-${pk}" onsubmit="event.preventDefault(); delete_comment(this, '${article_pk}', '${pk}')">
                  <input type="submit" class="btn-close position-absolute top-0 end-0 m-3" style="color:transparent;">
                </form>
              </div>  
            </div>

        `)
          form.reset() //form:html form태그
        })
        .catch(error => {
          console.log(error)
        })
      }

    //댓글 비동기 삭제
    function delete_comment(form, article_pk, comment_pk) {
      const csrftoken = document
        .querySelector('[name=csrfmiddlewaretoken]')
        .value

        axios({
          method: 'post',
          url: `/articles/${article_pk}/comments_create/${comment_pk}/delete/`,
          headers: {
            'X-CSRFToken': csrftoken
          }
        })
        .then(response => {
          const comment = document.querySelector(`#article-${comment_pk}`)
          console.log(response.data.is_deleted)
          comment.remove()
        })
    }

    // 좋아요
    const form = document.querySelector('.like-forms')
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value
    
      form.addEventListener('submit', function (event) {
        event.preventDefault()
        const articleId = event.target.dataset.articleId
          console.log(form)
        axios({
          method: 'post',
          url: `/articles/${articleId}/likes/`,
          headers: {'X-CSRFToken': csrftoken },
        })
          .then((response) => {
            const isLiked = response.data.is_liked
            const likeBtn = document.querySelector(`#like-${articleId}`)
            const likeCount = document.querySelector(`#like-count-${articleId}`)
            const heart = document.querySelector(`#heart-${articleId}`)

            if (isLiked === true) {
              // likeBtn.value = "좋아요취소❌"
              heart.classList.add('bi-heart-fill')
              heart.classList.remove('bi-heart')
              likeCount.innerText = response.data.likeCount
            } else {
              // likeBtn.value = "좋아요🧡"
              heart.classList.add('bi-heart')
              heart.classList.remove('bi-heart-fill')
              likeCount.innerText = response.data.likeCount
            }
          })
          .catch((error) => {
            console.log(error.response)
          })
        })

        //url 링크 복사
        function clip(){

          var url = '';
          var textarea = document.createElement("textarea");
          document.body.appendChild(textarea);
          url = window.document.location.href;
          textarea.value = url;
          textarea.select();
          document.execCommand("copy");
          document.body.removeChild(textarea);
          alert("URL이 복사되었습니다.")
        }
  </script>
{% endblock script %}
