{% extends 'base.html' %}
{% load static %}   
{% block link %}
<link rel="stylesheet" href="{% static 'css/mainpage.css' %}">
<script src="https://cdn.lordicon.com/fudrjiwc.js"></script>
<script defer src="{% static 'js/mainpage.js' %}"></script>
{% endblock link %}
{% block content %}
<main>
    <div class='community'>
        <h1> 개발마당</h1>
        <img src="https://via.placeholder.com/800x400" width="80%;"  alt="">
        <div class='com-text'>
            <div> 개발 마당의 소개글이 아마도 20자 정도 들어갈 것 같다는 지극히 
                개인적인 생각이고 이거는 몇자일지 궁금해지는 순간이다라고 할 수도 있고 
                안 할 수도있다.
            </div>
            <div class='community-btn-frame'><a class='btnAll' href="{% url 'articles:index' %}">개발마당</a></div>            
        </div>
    </div>
    <div id='fo_gift' class="algo">
        <h1>알고리즘</h1>   
        <div class='algoboxs'>
            <div class='algobox-frame'>
                <div class='algobox'>
                <h3>티어별 문제추천</h3>

                    <form id='algo-recom' method='get' action="">
                        <input class='ch' id='br' name='t' type="radio" value='br' checked>
                        <label for="br">브론즈</label>
                        <input class='ch' id='si' name='t' type="radio" value='si'>
                        <label for="si">실버</label>
                        <input class='ch' id='go' name='t' type="radio" value='go'>
                        <label for="go">골드</label>
                        <input class='ch' id='pl' name='t' type="radio" value='pl'>
                        <label for="pl">플레티넘</label>
                        <input class='ch' id='di' name='t' type="radio" value='di'>
                        <label for="di">다이아</label>
                        <input class='ch' id='ru' name='t' type="radio" value='ru'>
                        <label for="ru">루비</label>
                    </form>
                    <div class="recom">

                    </div>
                </div>
            </div>
            <div class='algobox-frame'>
                <div class='algobox'>
                <h3>오늘의 도전 문제</h3>
                    <lord-icon
                    src="https://cdn.lordicon.com/nkmsrxys.json"
                    trigger="hover"
                    colors="primary:#121331,secondary:#ff7b00"
                    style="width:250px;height:250px; cursor: pointer;" id="gift" value="{{request.user.pk}}">
                </lord-icon>
                <h3 id='giftM' style='color:#ff0000; display:none;'>로그인을 하시면 이용할 수 있습니다!</h3>
                </div>
            </div>
        </div>
        <h2><hr><span>현재 순위</span><hr></h2>
        <div class="rank">
            {% for rankinfo in rank %}
            <div class='rankinfo_frame'>
                <div class="info">
                    <div class='fcnt'>
                        <span> {{ forloop.counter}}위</span>
                    </div>
                    <div class="prof">
                        <div class="crown"></div><a href="{% url 'accounts:profile' rankinfo.4 %}"><img src="{{rankinfo.2}}" width='42px;' alt="프사"></a>
                    </div>
                    
                    <div class="set">
                        <p style='margin-bottom:10px; text-align: start;'><img style="height:25px" src="https://static.solved.ac/tier_small/{{rankinfo.0}}.svg"><span style='margin-left:10px;'>{{rankinfo.1}}</span></p>
                        
                        <div>
                            <p style='margin-bottom:0; text-align: start;'>사용 언어: {{rankinfo.3}}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="graph">
        <h1>기술스텍 통계</h1>  
        <div class='servey'>
            {% comment %} data-num 변수로 들어갈거임 {% endcomment %}
            {% comment %} 반복문으로 변수만큼 돌면서 이름과 데이터번호는 변수처리 빽에서 넘어온거 넣음
            내림차순으로 데이터가 넘어오면 된다. {% endcomment %}
            {% for val in sorted_dict %}
            <div class="progress_wap" data-num="{{val.1}}"> 
                <font>{{val.0}}</font>
                <div class='limitbox' >
                    <div class="bar_frame">
                        <div class="bar"></div>
                    </div>
                </div>
                <span class='mx-3' style="width:5%;">0%</span>
            </div>
            {% endfor %}
            <div class='graph-btn-frame'>
                <a class='btnAll' href="{% url 'surveys:create' %}">설문조사 하러가기!</a>
                <a class='btnAll' href="{% url 'surveys:index' %}">통계자료 확인</a>
            </div>
        </div>
    </div>

 
    
    <div class='find'>
        <h1>나와 잘 맞는 개발자를 찾아보세요.</h1>
        <div class='lay'>
            <div class='p-img'> <h2>사진</h2><img src="https://via.placeholder.com/500x340" alt=""> </div>
            <div class='p-text'> <h2>소개</h2><p>사용하는 기술스텍과 MBTI가 나와 비슷한 혹은 정반대의 동료와 스터디 혹은 관심 분야에 이야기를 나누어보세요</p> <div class='btn-holder'>
                <a class='btnAll' href="{% url 'friends:index' %}">찾으러</a>
            </div>
        </div>
        </div>
        
    </div>
</main>
<footer>
    <a id="back-to-top" href="#">Top</a>
</footer>
{% endblock%}