{% load django_bootstrap5 %}

{% load static %}
<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block link %}{% endblock link %}
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <!-- Bootstrap icon -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css">
    <title>
      비밀병기팀의 최종병기
    </title>

    <style>
      a {
        text-decoration: none;
      }
    </style>
  </head>

  <body>
    <!-- 알림 Modal 창 내용 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">알림</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <!-- 팔로워 알림 -->
            {% for message in messages %}
            {{ message.tag }}
            <p>{{ user.username }}{{ message }}</p>
            {% endfor %}

            {% comment %} {% if user.followers.pk == user.pk %}
            <p>1</p>
            {% endif %}
            {{ user.followers }}
            {{ user.username }} {% endcomment %}
          </div>
        </div>
      </div>
    </div>

    <nav class="navbar navbar-expand-lg bg-white sticky-top">
      <div class="container-fluid">
        <a class="navbar-brand ms-4" href="{% url "home" %}">
          <img src="{% static 'images/로고.png' %}" alt="" style='width: 90px'>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <!-- 메뉴 -->
        <div class="collapse navbar-collapse justify-content-between" id="navbarSupportedContent">
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="{% url 'articles:index' %}">
                개발마당
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'algorithm:index' %}">
                알고리즘
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'friends:index' %}">
                벗삼기/찾기
              </a>
            </li>
          </ul>

          <!-- 회원 -->
          <ul class="navbar-nav align-items-center">
            <!-- 로그인이 되어 있으면 -->
            {% if request.user.is_authenticated %}
              <!-- 알림 창 -->
              <li class='nav-item'>
                <button id='testBtn' type="button" class="btn position-relative" data-bs-toggle="modal" data-bs-target="#exampleModal">
                  <i class="bi bi-bell"></i>
                  {% comment %} <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    99+
                    <span class="visually-hidden">unread messages</span>
                  </span> {% endcomment %}
                </button>
              </li>

              <!-- 쪽지 창 -->
              <li class='nav-item'>
                <button type="button" class="btn position-relative" onclick="location.href='{% url 'notes:index' %}'">
                  <i class="bi bi-chat-left-dots"></i>
                  {% if request.user.message_number != 0 %}
                  <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ request.user.message_number }}<span class="visually-hidden">unread messages</span>
                  </span>
                  {% endif %}
                </button>
              </li>

              <!-- 프로필 사진 -->
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:profile' request.user.pk %}">
                  <div class="box">
                    {% if request.user.profile.image|slugify|slice:'0:4' == 'http' %}
                      <!-- 깃허브에서 가져온 이미지: https로 시작 -->
                      <img src="{{ request.user.profile.image }}" style="border-radius: 70%; max-width: 100%;" alt="">
                    {% elif request.user.profile.image %}
                      <!-- 파일로 추가한 이미지 /media/ -->
                      <img src="{{ request.user.profile.image.url }}" style="border-radius: 70%; max-width: 100%;" alt="">
                    {% else %}
                      <img src="{% static 'images/no-avatar.jpg' %}" style="border-radius: 70%; max-width: 100%; border: 2px solid #b9b9b9;" alt="">
                    {% endif %}
                  </div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:logout' %}">
                  로그아웃
                </a>
              </li>

             <!-- 로그인이 되어있지 않으면 -->
            {% else %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:signup' %}">
                  회원가입
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'accounts:login' %}">
                  로그인
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </div>
    </nav>
    {% include "messages.html" %}
    {% block content%}{% endblock content %}

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% block script %}
    {% endblock script %}
  </body>

</html>