{% extends 'base.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/friends_index.css' %}" type="text/css">
{% endblock link %}

{% block content %}
  <div class="container py-5">
    <h1 class="mx-3 mb-4" style="font-family: 'HBIOS-SYS'">함께 할 개발자를 찾아보세요!</h1>

    <div class='btn-board px-4 pt-4 mb-4'>
      <!-- 카테고리 버튼 -->
      <div id="language-btns" class="category mb-2">
        <p class="mb-2">주 사용언어</p>
        {% for lang in category_langs %}
          <input id="{{ lang }}" class="" type="checkbox" name="language-btns">
          <label for="{{ lang }}">{{ lang }}</label>
        {% endfor %}
      </div>
      
      <hr style='border-top: 0;'>

      <div id="mbti-btns" class="category mb-2">
        <p class="mb-2">MBTI</p>
        {% for mbti in category_mbtis %}
          <input id="{{ mbti }}" class="" type="checkbox" name="mbti-btns">
          <label for="{{ mbti }}">{{ mbti }}</label>
        {% endfor %}
      </div>

      <!-- 랜덤 추첨 -->
      <form action="{% url 'friends:recommend' %}" method="POST">
        {% csrf_token %}
        <div class='d-flex justify-content-end align-items-center mb-3'>
          <input type="number" class="form-control" name="num-of-people" min="1" max="10" value="0" style='width: 60px;'>
          <p class='mb-0 mx-2'>명</p>
          <input type="submit" class="bbtn ms-2" value="랜덤 조 구성하러 가기❗️" style='padding: 8px;'>
        </div>
      </form>
    </div>

    <!-- 사용자들 -->
    <div style="min-height: 350px;">
      {% for user in users %}
        <div class="all-users user_box d-none {{ user.profile.language }} {{ user.profile.mbti }}" data-lang="{{ user.profile.language }}" data-mbti="{{ user.profile.mbti }}">
          <div style='display: flex; justify-content: center;'>

            <!-- 프로필 이미지-->
            
              <div>
                <a href="{% url 'accounts:profile' user.pk %}" style='position: relative;'>
                {% comment %}  {% endcomment %}
                {% if user.profile.image|slugify|slice:'0:4' == 'http' %}
                <img src="{{ user.profile.image }}" class="profile-img" alt="">
                {% elif user.profile.image %}
                <img src="{{ user.profile.image.url }}" class="profile-img" alt="">
                {% else %}
                <img src="{% static 'images/no-avatar.jpg' %}" class="profile-img" alt="">
                {% endif %}
                <!-- 백준티어 -->
                {% if user.profile.boj_tier > 0 %}
                <img style="height:25px; height: 25px; position: absolute;top: 32px;right: 6px; "
                 src="https://static.solved.ac/tier_small/{{ user.profile.boj_tier }}.svg">
                 {% endif %}
              </a>
              </div>
              <div style=' margin: 0 10px 0 10px;'>
                <!-- 닉네임 -->
                <a href="{% url 'accounts:profile' user.pk %}">
                  <p class="m-0">닉네임 {{ user.profile.nickname }}</p>
                </a>

                <!-- 주 사용언어 -->
                {% if user.profile.language == 'Python' %}
                <p class="my-1">주언어 <img src="https://img.shields.io/badge/Python-3776AB?style=for-the-badge&logo=Python&logoColor=ffffff"/></p>
                {% elif user.profile.language == 'Java' %}
                <p class="my-1">주언어 <img src="https://img.shields.io/badge/java-007396?style=for-the-badge&logo=java&logoColor=white"></p>
                {% elif user.profile.language == 'C' %}
                <p class="my-1">주언어 <img src="https://img.shields.io/badge/C-A8B9CC?style=for-the-badge&logo=C&logoColor=white"></p>
                {% elif user.profile.language == 'JavaScript' %}
                  <p class="my-1">주언어 <img src="https://img.shields.io/badge/javascript-F7DF1E?style=for-the-badge&logo=javascript&logoColor=black"> </p>
                {% elif user.profile.language == 'C++' %}
                <p class="my-1">주언어 <img src="https://img.shields.io/badge/c++-00599C?style=for-the-badge&logo=c%2B%2B&logoColor=white"></p>
                {% elif user.profile.language == 'PHP' %}
                <p class="my-1">주언어 <img src="https://img.shields.io/badge/php-777BB4?style=for-the-badge&logo=php&logoColor=white"></p>
                {% endif %}
                <div class='d-flex'>
                  
                  <!-- MBTI -->
                  {% if user.profile.mbti %}
                  <p class="m-0">MBTI &nbsp<span class="{{ user.profile.mbti }}-badge">{{ user.profile.mbti }}</span></p>
                  {% endif %}
                </div>
              </div>
            <div>
              <a class='' href="{% url 'notes:send_to' user.pk %}">쪽지<img style='width: 20px;' src="{% static 'images/note.png' %}" alt="쪽지"></a>
            </div>
      </div>

      </div>
      {% endfor %}
    </div>
  </div>
{% endblock content %}

{% block script %}
  <script type="text/javascript" src="{% static 'js/friends_category.js' %}"></script>
{% endblock script %}