{% extends 'base.html' %}
{% load static %}

{% block link %}
  {% comment %} <link rel="stylesheet" href="{% static 'css/friend.css' %}"> {% endcomment %}
  {% comment %} <script defer src="{% static 'js/friend.js' %}"></script> {% endcomment %}
  <style>
    /* 카테고리 버튼 기본 색상 */
    .category-btn {
      background-color: #d1e4ff;
      color: rgb(61, 61, 61);
      padding: 10px 20px;
      border-radius: 22px;
      height: 40px;
      border: none;
    }

    /* 카테고리 버튼 선택 시 색상 */
    .active {
      background-color: #7ab1ff;
      color: white;
    }

    .profile-img {
      border-radius: 70%; 
      max-width: 64px;
    }

    /* 카테고리 버튼 기본 색상 */
    .category input[name=language-btns] {
      display: none;
    }

    .category input[name=language-btns]+label {
      display: inline-block;
      cursor: pointer;
      background-color: #d1e4ff;
      color: rgb(61, 61, 61);
      padding: 10px 20px;
      border-radius: 22px;
      height: 40px;
      border: none;
    }

    .category input[name=language-btns]:checked+label {
      background-color: #7ab1ff;
      color: white;
    }

    /* 카테고리 버튼 기본 색상 */
    .category input[name=mbti-btns] {
      display: none;
    }

    .category input[name=mbti-btns]+label {
      display: inline-block;
      cursor: pointer;
      background-color: #f3d9d9;
      color: rgb(61, 61, 61);
      padding: 10px 20px;
      border-radius: 22px;
      height: 40px;
      border: none;
    }

    .category input[name=mbti-btns]:checked+label {
      background-color: #ff9c9c;
      color: white;
    }
  </style>
{% endblock link %}

{% block content %}
<div class="container my-5">
  <h1 class="mb-5" style="font-family: 'HBIOS-SYS'">함께 할 개발자를 찾아보세요!</h1>

  <!-- 카테고리 버튼 -->
  <div id="language-btns" class="category mb-3">
    <p class="mb-2">주 사용언어</p>
    {% for lang in category_langs %}
      <input id="{{ lang }}" class="" type="checkbox" name="language-btns">
      <label for="{{ lang }}">{{ lang }}</label>
      {% comment %} <button id="{{ lang }}" data-category="{{ lang }}" type="button" class="category-btn" data-bs-toggle="button" autocomplete="off">{{ lang }}</button> {% endcomment %}
    {% endfor %}
  </div>
  <div id="mbti-btns" class="category mb-3">
    <p class="mb-2">MBTI</p>
    {% for mbti in category_mbtis %}
      <input id="{{ mbti }}" class="" type="checkbox" name="mbti-btns">
      <label for="{{ mbti }}">{{ mbti }}</label>
      {% comment %} <button id="{{ mbti }}" data-category="{{ mbti }}" type="button" class="category-btn" data-bs-toggle="button" autocomplete="off">{{ mbti }}</button> {% endcomment %}
    {% endfor %}
  </div>
  
  {% for user in users %}
    <div class="all-users d-none d-flex align-items-center mb-3 {{ user.profile.language }} {{ user.profile.mbti }}" data-lang="{{ user.profile.language }}" data-mbti="{{ user.profile.mbti }}">
      <div class="me-3">
        <a href="{% url 'accounts:profile' user.pk %}">
          {% if user.profile.image|slugify|slice:'0:4' == 'http' %}
            <img src="{{ user.profile.image }}" class="profile-img" alt="">
          {% elif user.profile.image %}
            <img src="{{ user.profile.image.url }}" class="profile-img" alt="">
          {% else %}
            <img src="{% static 'images/no-avatar.jpg' %}" class="profile-img" alt="">
          {% endif %}
        </a>
      </div>
      <div>
        <p class="m-0">닉네임: {{ user.profile.nickname }}</p>
        <p class="m-0">주 사용언어: {{ user.profile.language }}</p>
        {% comment %} <p>백준티어: {{ user.profile.nickname }}</p> {% endcomment %}
        <p class="m-0">MBTI: {{ user.profile.mbti }}</p>
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}

{% block script %}
  <script type="text/javascript" src="{% static 'js/friends_category.js' %}"></script>
{% endblock script %}