{% extends 'base.html' %}
{% load static %}

{% block link %}
  {% comment %} <link rel="stylesheet" href="{% static 'css/friend.css' %}"> {% endcomment %}
  {% comment %} <script defer src="{% static 'js/friend.js' %}"></script> {% endcomment %}
  <style>
    /* 카테고리 버튼 기본 색상 */
    .category-btn {
      background-color: #d1e4ff;
      color: rgb(61, 61, 61);
      padding: 10px 20px;
      border-radius: 22px;
      height: 40px;
      border: none;
    }

    /* 카테고리 버튼 선택 시 색상 */
    .active {
      background-color: #7ab1ff;
      color: white;
    }

    .profile-img {
      border-radius: 70%; 
      max-width: 64px;
    }

    /* 카테고리 버튼 기본 색상 */
    .category input[name=level-btns] {
      display: none;
    }

    .category input[name=level-btns]+label {
      display: inline-block;
      cursor: pointer;
      background-color: #d1e4ff;
      color: rgb(61, 61, 61);
      padding: 10px 20px;
      border-radius: 22px;
      height: 40px;
      border: none;
    }

    .category input[name=level-btns]:checked+label {
      background-color: #7ab1ff;
      color: white;
    }

    /* 카테고리 버튼 기본 색상 */
    .category input[name=category-btns] {
      display: none;
    }

    .category input[name=category-btns]+label {
      display: inline-block;
      cursor: pointer;
      background-color: #f3d9d9;
      color: rgb(61, 61, 61);
      padding: 10px 20px;
      border-radius: 22px;
      height: 40px;
      border: none;
    }

    .category input[name=category-btns]:checked+label {
      background-color: #ff9c9c;
      color: white;
    }
  </style>
{% endblock link %}
{% block content %}

<form action="{% url 'algorithm:search' %}" role='search' class='mb-0 w-100'>
  <div class="d-flex w-100 justify-content-center gap-4 mt-5" style='position:relative'>
    <input type="search" id="mySearch" onkeyup="myFunction()" placeholder="검색" title="Type in a category" class='px-3 py-3 rounded-3' style="width: 500px; height:70px" name='search'>
    <button class="btn btn-link" type="submit" style='position:absolute;top:-7px;right:290px'>
      <script src="https://cdn.lordicon.com/qjzruarw.js"></script>
      <lord-icon
          src="https://cdn.lordicon.com/hgbzryoa.json"
          trigger="hover"
          colors="primary:#000000,secondary:#ffffff,tertiary:#000000,quaternary:#242424"
          style="width:75px;height:75px" >
      </lord-icon>
    </button>
  </div>
</form>

<form action="{% url 'algorithm:search' %}" method="post" enctype="multipart/form-data">
  <!-- 카테고리 버튼 -->
  {% csrf_token %}
  <div id="category-btns" class="category mb-3">
    <p class="mb-2"> 난이도 </p>
    {% for level in category_level %}
      <input id="{{ level }}" class="" type="checkbox" name="level-btns" value="{{level}}">
      <label for="{{ level }}">{{ level }}</label>
      {% comment %} <button id="{{ lang }}" data-category="{{ lang }}" type="button" class="category-btn" data-bs-toggle="button" autocomplete="off">{{ lang }}</button> {% endcomment %}
    {% endfor %}
  </div>
  <div id="mbti-btns" class="category mb-3">
    <p class="mb-2"> 문제 종류 </p>
    {% for category in category_ %}
      <input id="{{ category }}" class="" type="checkbox" name="category-btns" value="{{category}}">
      <label for="{{ category }}">{{ category }}</label>
      {% comment %} <button id="{{ mbti }}" data-category="{{ mbti }}" type="button" class="category-btn" data-bs-toggle="button" autocomplete="off">{{ mbti }}</button> {% endcomment %}
    {% endfor %}
  </div>
  <button class="btn btn-primary" type="submit">제출</button>
</form>

{% endblock %}