{% extends 'base.html' %}
{% load static %}

{% block link %}
  <link rel="stylesheet" href="{% static 'css/friends_index.css' %}" type="text/css">
  <link rel="stylesheet" href="{% static 'css/algo_index.css' %}" type="text/css">
{% endblock link %}
{% block content %}
<div class="container py-5">
  <h1 class="mx-3 mb-4" style="font-family: 'HBIOS-SYS'">연산 방식 문제 검색</h1>
  <div class='btn-board px-4 pt-4 mb-4'>
    <form action="{% url 'algorithm:search' %}" method="post" enctype="multipart/form-data">
      
      <div id='thsearch' class="category mb-3">
        <input type="search" id="mySearch" onkeyup="myFunction()" autocomplete='off' placeholder="난이도 혹은 문제유형 입력" title="Type in a category" class=''name='search'>
        <input type="submit" onclick="javascript:OnCheck();" value='검색'>
      </div>

      <!-- 카테고리 버튼 -->
      {% csrf_token %}
      <div id="category-btns" class="category mb-3">
        <p class="mb-2"> 난이도 </p>
        {% for level in category_level %}
          <input id="{{ level }}" type="checkbox" name="level-btns" value="{{level}}">
          <label for="{{ level }}" class="mb-2" >{{ level }}</label>
          {% comment %} <button id="{{ lang }}" data-category="{{ lang }}" type="button" class="category-btn" data-bs-toggle="button" autocomplete="off">{{ lang }}</button> {% endcomment %}
        {% endfor %}
      </div>
      <div id="mbti-btns" class="category mb-3">
        <p class="mb-2"> 추천 꼬리표 </p>
        {% for category in category_ %}
          <input id="{{ category }}" class="" type="checkbox" name="category-btns" value="{{category}}">
          <label for="{{ category }}" class="mb-2" >{{ category }}</label>
          {% comment %} <button id="{{ mbti }}" data-category="{{ mbti }}" type="button" class="category-btn" data-bs-toggle="button" autocomplete="off">{{ mbti }}</button> {% endcomment %}
        {% endfor %}
      </div>

      
    </form>
  </div>
</div>


<script>
  function OnCheck() {
    var level_check = document.querySelectorAll('input[name="level-btns"]:checked').length;
    var category_check = document.querySelectorAll('input[name="category-btns"]:checked').length;
    var search_ = document.getElementById("mySearch").value;

    if(category_check == 0 && level_check == 0 && search_.length ==0) {
      alert('난이도 / 카테고리 / 검색어 중 하나를 선택/입력해주세요')
      event.preventDefault();
    }
  }

</script>

{% endblock %}